@charset "utf-8";
@import url("fontes_selecionadas/stylesheet.css");


html {	height:100%;	}

#modalContainer { background:url(imagens/bg.png); position:absolute; width:100%; height:100%; top:0px; left:0px; z-index:10000;  }
 
 /* caixa */
#alertBox {
	top: 50%;
	left: 50%;
	width: 300px;
	height: 210px;
	margin-top: -105px;
	margin-left: -150px;
	border-radius: 7px;
	overflow: hidden;
	position: relative;
	background-color: #EEEEEE;
	border: 4px solid #FFFFFF;
	box-shadow:         inset 0px 0px 15px 5px #B1B1B1;
	-moz-box-shadow:    inset 0px 0px 15px 5px #B1B1B1;
	-webkit-box-shadow: inset 0px 0px 15px 5px #B1B1B1;
}

/* #modalContainer > #alertBox {	position:fixed;	} */
 
#alertBox h1 {
	height:50px;
	line-height:40px;
	color:#525252;
	font-size: 25px;
	font-weight:normal;	
	text-indent: 118px;
	text-shadow: 0px 1px 0px #525252;
	font-family: 'Swis721LtBTLight';	
	background-repeat:no-repeat;
	background-position: 55px 0px;
	background-image:url(imagens/alerta.png);
}
#alertBox p {
	color: #000000; 
	font-size: 13px; 
	min-height: 125px;	
	text-align: center; 
	margin-top: -30px;
	padding: 30px 25px 10px 25px;
	text-shadow: 0px 0px 0px #000000;	
	font-family: 'Swis721LtBTLight';
	background-repeat: no-repeat; 
	background-position: center top;
	background-image: url(imagens/materia.png);
}

/* botao fechar */
#alertBox #closeBtn {
	display:block;
	width: 96px;
	height: 33px;
	left: 50%;
	border: none;
	outline: none;
	margin-top: -80px;
	margin-left: -48px;
	margin-bottom: 30px;
	position:relative;
	text-decoration:none;
	background-repeat: no-repeat; 
	background-position: center top;
	background-image: url(imagens/ok.png);
	box-shadow:         3px 3px 10px 0px #A7A7A7;
	-moz-box-shadow:    3px 3px 10px 0px #A7A7A7;
	-webkit-box-shadow: 3px 3px 10px 0px #A7A7A7;
}
#mContainer {
	position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	font:0.7em verdana,arial;
}
code {
	font-size:1.2em;
	color:#069;
}
#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}
#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}
.important {
	background-color:#F5FCC8;
	padding:2px;
}
code span {
	color:green;
}