div#content ul#itemContainer { list-style: none; padding:0; }
div#content ul#itemContainer li { display: inline-block; text-align: center; zoom: 1; *display:inline; }
div#content ul#itemContainer ll li img { vertical-align: bottom;}




.holder {
	float: left;
	display: table;
	width: calc(100% - 20px);
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

.holder a {
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #89939B  !important;
	font-size: 13px;
	text-align: center;
	margin-right: 5px;
	text-decoration: none;
	position: relative;
	border: 1px solid #484D54;
	font-family: Arial, Helvetica, sans-serif;
}
.holder a:hover {
	color: #FFFFFF !important;
	background: #0074FF;
	border: 1px solid #0074FF;
	text-decoration: none !important;
}
.holder a.jp-current, a.jp-current:hover { 
	color: #FFFFFF  !important;
	background: #0074FF;
	border: 1px solid #0074FF;
	text-decoration: none !important;
}



.holder a.jp-previous {
	display: none;
	width: 19px;
	height: 30px;
	border: none;
	margin-top: 5px;
	margin-right: 15px;
	background-color: none !important;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/prev1.png);
}
.holder a.jp-previous:hover{
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/prev2.png);
}
.holder a.jp-next {
	display: none;
	width: 19px;
	height: 30px;
	border: none;
	margin-top: 5px;
	margin-left: 10px;
	background-color: none !important;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/next1.png);
}
.holder a.jp-next:hover{
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/next2.png);
}
.holder span { margin: 0 5px; display: none; }