@charset "utf-8";

#sortable 	 { width:100%;	margin:auto;		padding: 0;     display:table;    }
#sortable li { float:left;  list-style:none; 	cursor:move;    }
#sortable2 	 { width:100%;	margin:auto;		padding: 0;     display:table;    }
#sortable2 li { float:left;  list-style:none; 	cursor:move;    }