@font-face {
    font-family: 'Swis721LtBTLight';
    src: url('Swis/swis721_lt_bt_light-webfont.eot');
    src: url('Swis/swis721_lt_bt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Swis/swis721_lt_bt_light-webfont.woff') format('woff'),
         url('Swis/swis721_lt_bt_light-webfont.ttf') format('truetype'),
         url('Swis/swis721_lt_bt_light-webfont.svg#Swis721LtBTLight') format('svg');
    font-weight: normal;
    font-style: normal;
}