@import url("../fontes/estilo.css");
/*=====================================================================*/
.nav{
	float: left;
	width: 865px;
	margin:0;
	padding:0;
	position: relative;
}

.nav li a,.nav li {float:left;}
.nav li {list-style:none; position:relative;}
.nav li a {
	height: 53px;
	line-height: 53px;
	font-size:15px;
	color: #FFFFFF; 
	text-decoration:none;
	padding: 0 12px 0 12px;
	text-shadow: 3px 3px 3px #000000;
	font-family:'Swis721LtBTLight',arial;
}
.nav li a:hover {
	color: #FAC7CF;
	text-shadow: 0px 0px 0px #FAC7CF;
	background: url(../imagens/branco.png);
}

/*==========================================================
	Submenu 
==========================================================*/
.nav li ul {
	left:0;
	top:100%;
	margin:0;
	z-index: 15;
	width: 250px;
	padding: 2px 2px 1px 2px;
	display:none;
	position:absolute;
	background: #ED3D5A;
} 
/*==========================================================
	Hide Submenu  
==========================================================*/
.nav li:hover > ul {display:block;}
.nav li ul li,.nav li ul li a {
	float: none;
	max-width: 250px;
	height: 33px;
	line-height: 35px;
	display: block;
	color: #000000;
	text-indent: 0px;
	font-size: 12px;
	margin-right: 0px;
	background: #F59493;
	text-shadow: none;
	border-bottom: 1px solid #ED3D5A;
	font-family:'switzerland_condensedplain',arial;
}
.nav li ul li,.nav li ul li a:hover {
	color: #FDEAEA;
	text-indent: 2px;
	background: #EF5858;
	border-bottom: 1px solid #ED3D5A;
	box-shadow:         inset 3px 3px 7px 0px #943636;
	-moz-box-shadow:    inset 3px 3px 7px 0px #943636;
	-webkit-box-shadow: inset 3px 3px 7px 0px #943636;

}
/*==========================================================*/
.nav .barrinha {
	float: left;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 51px;
	padding: 0 9px 0 9px;
	position: relative;
	text-shadow: 3px 3px 3px #000000;
	font-family:'switzerland_condensedplain', arial;
}

.nav li ul li ul {display:none;}
.nav li ul li:hover ul {left:100%; top:0;}

/*==========================================================
		Transitions
==========================================================*/
.nav li a:hover,
.nav li ul li a:hover  {
	-webkit-transition: 		all 300ms ease-out;
	-moz-transition:    		all 300ms ease-out;
	-o-transition:      		all 300ms ease-out;
	-ms-transition:     		all 300ms ease-out;
	transition:         		all 300ms ease-out;
	-moz-backface-visibility: 	hidden;
}








/*==========================================================
	Linha de Botões Clientes
==========================================================*/
.nav-cliente{
	float: left;
	width: 865px;
	margin:0;
	padding:0;
	position: relative;
}

.nav-cliente li a,.nav-cliente li {float:left;}
.nav-cliente li {list-style:none; position:relative;}
.nav-cliente li a {
	height: 53px;
	line-height: 53px;
	font-size:15px;
	color: #FFFFFF; 
	text-decoration:none;
	padding: 0 7px 0 7px;
	text-shadow: 3px 3px 3px #000000;
	font-family:'Swis721LtBTLight',arial;
}
.nav-cliente li a:hover {
	color: #FAC7CF;
	text-shadow: 0px 0px 0px #FAC7CF;
	background: url(../imagens/branco.png);
}

/*==========================================================
	Submenu 
==========================================================*/
.nav-cliente li ul {
	left:0;
	top:100%;
	margin:0;
	z-index: 15;
	width: 250px;
	padding: 2px 2px 1px 2px;
	display:none;
	position:absolute;
	background: #ED3D5A;
} 
/*==========================================================
	Hide Submenu  
==========================================================*/
.nav-cliente li:hover > ul {display:block;}
.nav-cliente li ul li,.nav-cliente li ul li a {
	float: none;
	max-width: 250px;
	height: 33px;
	line-height: 35px;
	display: block;
	color: #000000;
	text-indent: 0px;
	font-size: 12px;
	margin-right: 0px;
	background: #F59493;
	text-shadow: none;
	border-bottom: 1px solid #ED3D5A;
	font-family:'switzerland_condensedplain',arial;
}
.nav-cliente li ul li,.nav-cliente li ul li a:hover {
	color: #FDEAEA;
	text-indent: 2px;
	background: #EF5858;
	border-bottom: 1px solid #ED3D5A;
	box-shadow:         inset 3px 3px 7px 0px #943636;
	-moz-box-shadow:    inset 3px 3px 7px 0px #943636;
	-webkit-box-shadow: inset 3px 3px 7px 0px #943636;

}
/*==========================================================*/
.nav-cliente .barrinha {
	float: left;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 51px;
	padding: 0 9px 0 9px;
	position: relative;
	text-shadow: 3px 3px 3px #000000;
	font-family:'switzerland_condensedplain', arial;
}

.nav-cliente li ul li ul {display:none;}
.nav-cliente li ul li:hover ul {left:100%; top:0;}

/*==========================================================
		Transitions
==========================================================*/
.nav-cliente li a:hover,
.nav-cliente li ul li a:hover  {
	-webkit-transition: 		all 300ms ease-out;
	-moz-transition:    		all 300ms ease-out;
	-o-transition:      		all 300ms ease-out;
	-ms-transition:     		all 300ms ease-out;
	transition:         		all 300ms ease-out;
	-moz-backface-visibility: 	hidden;
}