body {
    margin: 0;
    padding: 50px;
    max-width: 900px;
    background: #fcfaf9;
}
body img { border:none; }
p { margin: 0; padding: 0; }
input, textarea, select { outline: none; }
a, button { text-decoration: none; outline: none; }
address { font-style: normal; }

.hidden {
  display: none;
}
.container-oferta {
  padding-top: 12vh;
  padding-bottom: calc(12vh - 1.5rem);
}

.container-oferta:first-of-type {
  border: 0;
}

header .container-oferta {
  padding-top: 1rem;
  padding-bottom: 0;
}

.fechar {
    float: right;
    top: 0;
    right: 10px;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
}

.close{
    color: #a9a7a7;
    font-size: 20px;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close:hover{
    color: #FF0004;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.tit-oferta {
    float: left;
    width: 100%;
	color: #000000;
	font-size: 18px;
    margin-top: -30px;
    position: relative;
	font-family: "open_sanssemibold", sans-serif;
}

.cid-oferta {
    float: left;
    width: 100%;
	color: #383E43;
	font-size: 14px;
	padding-right: 20px;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.desc-oferta {
    float: left;
    width: 100%;
    color: #6c6f73;
    font-size: 14px;
    margin-top: 20px;
    padding: 30px;
    text-align: justify;
    position: relative;
    background: rgba(0, 0, 0, .05);
    font-family: "open_sansregular", sans-serif;
}

.ok-oferta {
    float: left;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.ok-oferta button {
    float: right;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    background-color: #33BF6E;
    border-bottom: 3px solid #228E4F;
    font-family: "open_sansregular", sans-serif;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.ok-oferta button:hover {
    background-color: #228E4F;
    border-bottom: 3px solid #33BF6E;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.okoft {
    float: left;
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 1px;
    margin-right: 10px;
}

.btn-primary {
    width: 0 !important;
    height: 0 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

@media (max-width: 450px) {
    
    body {
        padding: 30px;
    }  
    
    .container-oferta {
      padding-top: 5vh;
      padding-bottom: 0;
    }

    .container-oferta:first-of-type {
      border: 0;
    }

    header .container-oferta {
      padding-top: 0;
      padding-bottom: 0;
    }
    
    .tit-oferta {
        font-size: 15px;
    } 
    
    .cid-oferta {
        font-size: 13px;
    } 
    
    .desc-oferta {
        font-size: 13px;
        padding: 20px;
    }
    
}

