@charset "utf-8";


@font-face {
    font-family: 'open_sansregular';
    src: url('../fontes/open-sans-regular/opensans-regular-webfont.eot');
    src: url('../fontes/open-sans-regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/open-sans-regular/opensans-regular-webfont.woff2') format('woff2'),
         url('../fontes/open-sans-regular/opensans-regular-webfont.woff') format('woff'),
         url('../fontes/open-sans-regular/opensans-regular-webfont.ttf') format('truetype'),
         url('../fontes/open-sans-regular/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fontes/open-sans-semi-bold/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fontes/open-sans-semi-bold/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}