@charset "utf-8";
body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-x: hidden;
	background-color: none;
}    
body img { border:none; }
p { margin: 0; padding: 0; }
input, textarea, select { outline: none; }
a, button { text-decoration: none; outline: none; }
address { font-style: normal; }
/*=========================================================================================================================*/
.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
 
.clearfix:after {
   clear: both;
}
 
.clearfix {
   *zoom: 1;
}
*, *:before, *:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
} 


.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
} 
/*=========== Topo ============================================================================================================*/
.cnt {
   height: auto;
   display:flex;
}
.cnt > .abpg {
	background-color: #FFFFFF;
}
.cinza {
	background-color: #E8EEF2;
}

.brc {
	background-color: #FFFFFF;
}

.black {
	background-color: #000000;
}

.blackc {
	background-color: #262A2D;
}

.cinza-escuro {
	background-color: #B3BDC4;
}

.vazio {
	float: left;
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: relative;
}

.blg {
    float: left;
    width: 100%;
    padding: 0 10%;
	overflow: hidden;
    position: relative;
}

.bloco {
    float: left;
    width: 100%;
	overflow: hidden;
    position: relative;
}

.bloco-carro {
    margin-top: 0;
}

.bl-afast-bloco {
    float: left;
    width: 100%;
	margin-top: 10px;
    position: relative;
}

.bl-dest-bloco-inicia {
	margin-top: -50px !important;
	margin-bottom: -20px !important;
}

.bl-dest-bloco {
    float: left;
    width: 100%;
	/*margin-top: -30px;*/
    position: relative;
}

.bl-prom-slide {
	float: left;
	width: 100%;
	margin-top: 70px;
	margin-bottom: 100px;
	position: relative;
}

.perf-bloco {
    float: left;
    width: 100%;
	margin-top: 50px;
	overflow: hidden;
    position: relative;
}

.blprom {
    float: left;
    width: 100%;
	padding: 30px 0px;
	border-radius: 15px;
	background-color:  #383E43;
	border:  5px solid #262A2D;
	overflow: hidden;
    position: relative;
}

.tit {
    float: left;
    width: 100%;
	color: var(--first-color);
	font-size: 28px;
	margin-top: 70px;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}
.totprof {
    float: left;
    width: 100%;
	color: var(--first-color);
	font-size: 13px;
	margin-top: 0;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}
.boxitcar a{
    float: left;
    width: calc(100% - 30px);
	margin-top: 40px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 7px;
	margin-bottom: 50px;
	overflow: hidden;
    position: relative;
	border: 1px solid #DBDBDD;
	background-color: #FFFFFF;
	font-family: "open_sansregular", sans-serif;
}

.boxitcar a:hover{
	border: 1px solid #0074FF;
	box-shadow: 0px 7px 10px -3px #CBC4C4;	
}

.boxit a{
    float: left;
    width: calc(100% - 15px);
	margin-top: 40px;
	margin-right: 10px;
	padding-bottom: 7px;
	overflow: hidden;
    position: relative;
	border: 1px solid #DBDBDD;
	background-color: #FFFFFF;
	font-family: "open_sansregular", sans-serif;
}

.boxit a:hover{
	border: 1px solid #0074FF;
	box-shadow: 0px 7px 10px -3px #CBC4C4;
}

.boxit-dest a{
    float: left;
    width: calc(100% - 17px);
	margin-top: 40px;
	margin-right: 10px;
	padding-bottom: 5px;
	overflow: hidden;
    position: rel0ative;
	border: 2px solid #FB942E;
	background-color: #FFFFFF;
	font-family: "open_sansregular", sans-serif;
}

.boxit-dest a:hover{
	border: 2px solid #0074FF;
	box-shadow: 0px 7px 10px -3px #CBC4C4;
}

.boxit-fot {
    float: left;
    width: 100%;
	height: 150px;
	overflow: hidden;
    position: relative;
}
.boxit-fotss {
    float: left;
    width: 100%;
	height: 170px;
	overflow: hidden;
    position: relative;
}
.boxit-fot img, .boxit-fotss img {
    width: 100%;
}
/*
.boxit-tipo {
    float: left;
	top: 10px;
	font-size: 10px;
	color: #FFFFFF;
	position: absolute;
	letter-spacing: 4px;
	border-top-right-radius: 200px;
	border-bottom-right-radius: 200px;
	padding: 2px 15px 2px 10px;
	background-color: #FF4E00;
	font-family: "open_sanssemibold", sans-serif;
}
*/
.boxit-tipo {
    float: left;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	letter-spacing: 4px;
	text-align: center;
	background-color: #FF4E00;
	font-family: "open_sanssemibold", sans-serif;
}
.boxit-tit {
    float: left;
    width: 100%;
	height: 45px;
	padding: 0 15px;
	margin-top: 17px;
	font-size: 16px;
	overflow: hidden;
    position: relative;
	color: var(--first-color);
	font-family: "open_sanssemibold", sans-serif;
}

.boxit-esp {
    float: left;
    width: 100%;
	height: 60px;
	padding: 0 15px;
	margin-top: 20px;
	font-size: 12px;
	overflow: hidden;
    position: relative;
	color: #949EA7;
	font-family: "open_sanssemibold", sans-serif;
}

.boxit-estrela {
    float: left;
	margin-left: 15px;
	margin-top: 5px;
	font-size: 12px;
    position: relative;
	color: #D5D5D5;
}

.margicon {
    margin-right: 10px;
}

.estpx {
	font-size: 18px;
}

.orange {
	color: #FB942E;
}

.estyellow {
	color: #FFC743;
}

.estred {
	color: #FC464E;
}

.iconbrc {
	color: #FFFFFF;
}

.iconblue {
	color: #0074FF;
}

.iconverde {
	color: #56C57B;
}

.iconcinza {
	color: #AFB6BF;
}

.iconbluesky {
	color: #2EB1E2;
}

.iconweb {
	color: #0074FF;
}

.boxit-nota {
    float: left;
	height: 20px;
	color: #1C1C1C;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 14px;
	overflow: hidden;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.perftop{
    float: left;
    width: 100%;
	color: #383E43;
	font-size: 14px;
	padding: 15px 10% 10px;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.box-oft {
    margin-bottom: -20px;
}
.oftit-tit {
    float: left;
    width: 100%;
	padding: 0 15px;
	margin-top: 15px;
	font-size: 13px;
	overflow: hidden;
    position: relative;
	color: var(--first-color);
	font-family: "open_sanssemibold", sans-serif;
}

.oftit-prev {
    float: left;
    width: 100%;
	height: 60px;
	padding: 0 15px;
	margin-top: 10px;
	font-size: 12px;
	overflow: hidden;
    position: relative;
	color: #949EA7;
	font-family: "open_sanssemibold", sans-serif;
}

.oftit-city {
    float: left;
	height: 20px;
	color: #1C1C1C;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 12px;
	overflow: hidden;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}



.titcity {
    float: left;
    width: 100%;
	color: #383E43;
	font-size: 14px;
	margin-top: 40px;
	padding: 20px 20px;
    position: relative;
	background-color: #FFFFFF;
	font-family: "open_sansregular", sans-serif;
}
.destvcity {
    float: right;
	cursor: pointer;
	color: #0074FF;
	font-size: 14px;
	margin-top: -21px;
	background: none;
	background-color: none;
	text-decoration: none;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.destvcity:hover{
	color: #0074FF;
    text-decoration: underline;
}


.titfxtop {
    float: left;
    width: 100%;
	color: #383E43;
	font-size: 14px;
	padding: 30px 10%;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.titfxtop-sub {
	font-family: "open_sanssemibold", sans-serif;
	margin-right: 30px;
}

.banner {
	float: left;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	overflow: hidden;
	position: relative;
}

.banner img{
	width: 100%;
}
.txt-ban {
	float: left;
	color: #6D7378;
	font-size: 14px;
	margin-top: 20px;
	position: relative;
	font-family: "open_sanssemibold", sans-serif;
}
.public a{
	float: left;
	color: #FFFFFF;
	font-size: 12px;
	padding: 3px 5px;
	margin-top: 10px;
	margin-bottom: -30px;
	text-decoration: none;
	position: relative;
	text-shadow: 0 0 0 #FFFFFF;
	background-color: #FB942E;
	font-family: "open_sanssemibold", sans-serif;
}
.public a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BB6109;
}

.vidtut a{
	float: left;
	color: #FFFFFF;
	font-size: 12px;
	padding: 5px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	position: relative;
	text-shadow: 0 0 0 #FFFFFF;
	background-color: #007bff;
    border-bottom: 3px solid #085BB5;
	font-family: "open_sanssemibold", sans-serif;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;}
.vidtut a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #085BB5;
    border-bottom: 3px solid #007bff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;}

.titfxdest {
    float: left;
	color: #383E43;
	font-size: 23px;
	margin-top: 60px;
    position: relative;
	font-family: "open_sanssemibold", sans-serif;
}

.destv a{
    float: left;
	color: #0074FF;
	font-size: 14px;
	margin-top: 69px;
	margin-left: 15px;
	margin-bottom: 10px;
	text-decoration: none;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.destv a:hover{
	color: #0074FF;
    text-decoration: underline;
}

.titfxprom {
    float: left;
	color: #FFFFFF;
	font-size: 23px;
    position: relative;
	font-family: "open_sanssemibold", sans-serif;
}

.destvprom a{
    float: left;
	color: #FFC743;
	font-size: 14px;
	margin-top: 8px;
	margin-left: 15px;
	text-decoration: none;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.destvprom a:hover{
	color: #FFC743;
    text-decoration: underline;
}

.bl{
    float: left;
    width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
    position: relative;
}

.bl-prof{
    float: left;
    width: 100%;
	margin-top: -50px;
    position: relative;
}

.blpromo{
    float: left;
    width: 100%;
	margin-bottom: 50px;
    position: relative;
}

.cx-promocao{
    float: left;
    width: calc(100% - 20px);
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
    position: relative;
}

.cx-promo{
    float: left;
    width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
    position: relative;
}

.promo-fot {
    float: left;
    width: 100%;
	height: 250px;
	overflow: hidden;
    position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}
.promo-mask {
    float: left;
    width: 100%;
	top: 0;
	height: 250px;
	overflow: hidden;
    position: absolute;
	opacity: 0.7;
	background: rgb(56,62,67);
	background: -moz-linear-gradient(0deg, rgba(56,62,67,1) 0%, rgba(56,62,67,0) 100%);
	background: -webkit-linear-gradient(0deg, rgba(56,62,67,1) 0%, rgba(56,62,67,0) 100%);
	background: linear-gradient(0deg, rgba(56,62,67,1) 0%, rgba(56,62,67,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383e43",endColorstr="#383e43",GradientType=1);
}

.promo-desc{
    float: left;
    width: 70px;
	height: 80px;
	line-height: 70px;
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
	overflow: hidden;
    position: relative;
	background-color: #FF4E00;
	font-family: "open_sanssemibold", sans-serif;
}

.promo-desconto{
    float: left;
	width: 100%;
	font-size: 9px;
	letter-spacing: 0px;
	margin-top: -52px;
	text-align: center;
    position: relative;
	font-family: "open_sanssemibold", sans-serif;
}

.bx-dad-tit-promo{
    float: left;
    width: calc(100% - 70px);
	height: 80px;
	padding: 0 20px;
	overflow: hidden;
    position: relative;
	background-color: #383E43;
}

.promo-tit-serv{
    float: left;
    width: 100%;
	margin-top: 15px;
	color: #FFFFFF;
	font-size: 13px;
	overflow: hidden;
    position: relative;
	font-family: "open_sanssemibold", sans-serif;
}

.promo-desc-serv{
    float: left;
    width: 100%;
	color: #AFB6BF;
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.promo-name {
    float: left;
	width: calc(100% - 160px);
	color: #FFFFFF;
	font-size: 16px;
	bottom: 30px;
	padding: 0 20px;
    position: absolute;
	font-family: "open_sanssemibold", sans-serif;
}

.promo-name-serv {
    float: left;
	width: calc(100% - 160px);
	color: #FFFFFF;
	font-size: 12px;
	bottom: 15px;
	padding: 0 20px;
    position: absolute;
	font-family: "open_sansregular", sans-serif;
}

.boxit-estrela-promo {
    float: right;
	right: 80px;
	bottom: 17px;
	font-size: 12px;
	color: #D5D5D5;
    position: absolute;
}

.boxit-promo-nota {
    float: right;
	right: 50px;
	bottom: 15px;
	color: #FFFFFF;
	font-size: 14px;
    position: absolute;
	font-family: "open_sansregular", sans-serif;
}

.boxit-promo-love {
	float: right;
	right: 20px;
	bottom: 13px;
	color: #FFFFFF;
	font-size: 18px;
	position: absolute;
	font-family: "open_sansregular", sans-serif;
}

.subtititem {
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 13px;
	margin-top: -4px;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}

.titfxdest-meio {
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 23px;
	margin-top: 10px; /*60*/
	text-align: center;
	position: relative;
	font-family: "open_sanssemibold", sans-serif;
}

.subtititem-meio {
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 13px;
	margin-top: 0px;
	text-align: center;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.bl-cadastros {
    float: left;
    width: calc(100% + 20px);
	overflow: hidden;
    position: relative;
}
.bloco-perfil {
    float: left;
    width: calc(100% - 20px);
	overflow: hidden;
	margin-right: 20px;
    position: relative;
}
.box-pla-name {
    float: left;
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
	font-size: 13px;
	color: #FFFFFF;
	position: relative;
	letter-spacing: 2px;
	text-align: center;
	background-color: #FF4E00;
	font-family: "open_sanssemibold", sans-serif;
}
.box-pla-icon {
	font-size: 20px;
	color: #FFFFFF;
}

.perfil-cx-foto {
    float: left;
    width: 100%;
	height: 330px;
	overflow: hidden;
    position: relative;
}
.perfil-foto-grande {
    float: left;
    width: 100%;
	height: 330px;
	overflow: hidden;
    position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-filter: blur(4px);
	   -moz-filter: blur(4px);
	    -ms-filter: blur(4px);
	     -o-filter: blur(4px);
	        filter: blur(4px);
}
.perfil-foto-mask {
	z-index: 1;
    float: left;
    width: 100%;
	height: 330px;
	margin-top: -330px;
	overflow: hidden;
    position: relative;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#133a68+15,004597+100&1+15,0.25+100 */
background: -moz-linear-gradient(45deg,  rgba(19,58,104,1) 15%, rgba(0,69,151,0.25) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(19,58,104,1) 15%,rgba(0,69,151,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(19,58,104,1) 15%,rgba(0,69,151,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133a68', endColorstr='#40004597',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.perfil-foto-mask-premium {
	z-index: 1;
    float: left;
    width: 100%;
	height: 330px;
	margin-top: -330px;
	overflow: hidden;
    position: relative;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f77700+21,f77700+99&1+21,0.4+100 */
background: -moz-linear-gradient(45deg,  rgba(247,119,0,1) 15%, rgba(247,119,0,0.41) 100%, rgba(247,119,0,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(247,119,0,1) 15%,rgba(247,119,0,0.41) 100%,rgba(247,119,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(247,119,0,1) 15%,rgba(247,119,0,0.41) 100%,rgba(247,119,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77700', endColorstr='#66f77700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.perfil-foto-mini {
	z-index: 1;
    float: left;
	left: 50%;
    width: 168px;
	height: 168px;
	margin-left: -84px;
	border-radius: 11px;
	margin-top: -310px;
	overflow: hidden;
    position: relative;
	-webkit-filter: blur(-4px);
	   -moz-filter: blur(-4px);
	    -ms-filter: blur(-4px);
	     -o-filter: blur(-4px);
	        filter: blur(-4px);
}
.perfil-acoes {
	z-index: 1;
	float: right;
	width: 20px;
	margin-top: -310px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
}
.icon-acao {
	float: left;
	width: 20px;
	font-size: 19px;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}
.icons-avaliacoes {
	z-index: 1;
	float: left;
	width: 100%;
	font-size: 13px;
	color: #D5D5D5;
	text-align: center;
	margin-top: -140px;
	overflow: hidden;
	position: relative;

}
.icons-avalia-stars {
	float: left;
	width: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.icon-vot {
	top: 0;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	border: none;
	cursor: pointer;
	/*border-radius: 50%;*/
	position: absolute;
	background-color: #000000;
	opacity: 0;
}
.qtdavalia {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin-top: 0;
	overflow: hidden;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.qtdavaliap a {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin-top: 0;
	overflow: hidden;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.qtdavaliap a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.perf-nome {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.perf-funcao {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	margin-top: 0;
	overflow: hidden;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.perf-cidest {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.perf-visualiza {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 14px;
	margin-top: 13px;
	padding: 15px;
	text-align: center;
	overflow: hidden;
	position: relative;
	background-color: #FFFFFF;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-atua {
	float: left;
	width: 100%;
	margin-top: 15px;
	overflow: hidden;
	padding: 15px 15px 30px 15px;
	position: relative;
	background-color: #FFFFFF;
}
.bl-atua-bloco {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 15px 15px 30px 15px;
	position: relative;
	background-color: #FFFFFF;
}
.bl-atua-tit {
	float: left;
	color: #0C5F98;
	letter-spacing: 1px;
	font-size: 12px;
	position: relative;
	text-shadow: 0 0 0 #0C5F98;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-atua-tit-alert {
	float: left;
	color: #FB0A19;
	letter-spacing: 1px;
	font-size: 12px;
	position: relative;
	text-shadow: 0 0 0 #0C5F98;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-atua-mais-palavras a{
	float: right;
	color: #0C5F98;
	font-size: 10px;
	text-decoration: underline;
	position: relative;
	text-shadow: 0 0 0 #0C5F98;
	font-family: "open_sansregular", sans-serif;
}
.bl-atua-linha {
	float: left;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	background-color: #E8EEF2;
}
.bl-atua-area {
	float: left;
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	overflow: hidden;
	border-radius: 5px;
	padding: 0 13px 3px 5px;
	text-decoration: underline;
	position: relative;
	background-color: #0074FF;
}
.bl-atua-txt {
	float: left;
	width: 100%;
	color: #6D7378;
	font-size: 14px;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.bl-atua-destaque {
	float: left;
	width: 100%;
	margin-bottom: 12px;
	color: #383E43;
	font-size: 13px;
	position: relative;
	font-family: "open_sanssemibold", sans-serif;
}
.perf-fot-add {
	float: left;
	height: 90px;
	overflow: hidden;
	width: calc(100% - 15px);
	margin-bottom: 15px;
	position: relative;
}
.perf-fot-add img {
	width: 100%;
}
.perf-fot-video {
	float: left;
	width: calc(100% - 15px);
	margin-bottom: 15px;
	position: relative;
}
.afasta {
	float: left;
	width: 20px;
	overflow: hidden;
	margin-right: 10px;
}

.bl-perf-cont a {
	float: left;
	width: 100%;
	display: block;
	text-decoration: none;
	color: #383E43;
	font-size: 13px;
	margin-bottom: 10px;
	padding: 0 15px 0 0;
	text-shadow: 0 0 0 #383E43;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.bl-perf-cont a:hover {
	text-decoration: none;
	color: #383E43;
}
.bl-perf-icon {
	width: 25px;
	font-size: 20px;
}
.bl-perf-cont-mapa {
	float: left;
	width: 100%;
	margin-top: -45px;
	position: relative;
}
.bl-perf-cont-mapa img {
	width: 100%;
}
.bl-perf-cont-mapa-link a {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: none;
	position: relative;
	text-shadow: 0 0 0 #FFFFFF;
	background-color: #2680EB;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-perf-cont-mapa-link a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #2270CC;
}
.bl-perf-avalia-link a {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
	text-align: center;
	text-decoration: none;
	position: relative;
	text-shadow: 0 0 0 #FFFFFF;
	background-color: #FB942E;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-perf-avalia-link a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BB6109;
}
.puxa{
	bottom: -20px;
	position: relative;
}
.bl-ver-avalia-link a {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px 0;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 50px;
	text-align: center;
	text-decoration: none;
	position: relative;
	text-shadow: 0 0 0 #FFFFFF;
	background-color: #2680EB;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-ver-avalia-link a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #2270CC;
}
.bl-perf-cont-icon{
	float: left;
	margin-bottom: 15px;
	margin-right: 10px;
	position: relative;
}
.bl-perf-avalia{
	float: right;
	color: #9EA4AC;
	font-size: 10px;
	position: relative;
	text-shadow: 0 0 0 #9EA4AC;
	font-family: "open_sansregular", sans-serif;
}
.bl-perf-avalia-tit{
	float: left;
	width: 100%;
	color: #9EA4AC;
	font-size: 10px;
	position: relative;
	text-shadow: 0 0 0 #9EA4AC;
	font-family: "open_sansregular", sans-serif;
}
.boxit-estrela-avaliacoes {
	float: left;
	margin-top: 5px;
	font-size: 12px;
	margin-bottom: 20px;
	position: relative;
	color: #D5D5D5;
}
.bl-reconda-scroll {
	float: left;
	width: 100%;
	position: relative;
}
.bl-recomendacoes {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	border-top: 1px solid #E8EEF2;
}
.bl-avalia-user-foto {
	float: left;
	width: 55px;
	max-height: 60px;
	margin-top: 17px;
	overflow: hidden;
	position: relative;
}
.bl-avalia-user-foto img {
	width: 55px;
	max-height: 60px;
	border-radius: 100%;
}
.user-nofoto {
	float: left;
	width: 55px;
    height: 50px;
    font-size: 55px;
	color: #939597;
    text-align: center;	
	overflow: hidden;
	position: relative;
}

.bl-avalia-user-dad {
	float: left;
	width: calc(100% - 80px);
	margin-top: 17px;
	margin-left: 25px;
	overflow: hidden;
	position: relative;
}
.bl-avalia-user-nome {
	float: left;
	width: 100%;
	font-size: 13px;
	color: #383E43;
	overflow: hidden;
	position: relative;
	text-shadow: 0 0 0 #383E43;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-avalia-user-txt {
	float: left;
	width: 100%;
	font-size: 12px;
	color: #313336;
	overflow: hidden;
	position: relative;
	text-shadow: 0 0 0 #fff;
	font-family: "open_sansregular", sans-serif;
}
.bl-avalia-user-estrela {
	float: left;
	margin-top: 5px;
	font-size: 12px;
	position: relative;
	color: #D5D5D5;
}
.estrelas {
	float: left;
	width: 100%;
	position: relative;
}
.estrelas input[type=radio]{
	display: none;

}
.estrelas label i.fa:before{
	content: '\f005';
	color: #FFC743;
}
.estrelas input[type=radio]:checked ~ label i.fa:before{
	color: #CCC;
}
textarea{
	float: left;
	width: 100%;
	height: 110px;
	color: #383E43;
	font-size: 13px;
	border: none;
	border-radius: 5px;
	padding: 12px 0 0 0;
	margin-bottom: 10px;
	border: 1px solid #9DB1C1;
	background-color: #F2F6F8;
	text-indent: 10px;
	text-shadow: 0px 0px 0px #383E43;
	font-family:'open_sansregular', arial;
}
.bl-avalia-user-avalia {
	float: left;
	width: 100%;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px 0;
	margin-top: 20px;
	margin-left: 0px;
	text-align: center;
	text-decoration: none;
	position: relative;
	text-shadow: 0 0 0 #FFFFFF;
	background-color: #FB942E;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-avalia-user-avalia:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BB6109;
}

.bl-avalia-user-avalia a {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 16px;
	padding: 10px 0;
	margin-top: 20px;
	margin-left: 0px;
	text-align: center;
	text-decoration: none;
	position: relative;
	text-shadow: 0 0 0 #FFFFFF;
	background-color: #FB942E;
	font-family: "open_sanssemibold", sans-serif;
}
.bl-avalia-user-avalia a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BB6109;
}

.oft-data{
	float: left;
	width: calc(100% - 110px);
	color: #000000;
	font-size: 11px;
    text-shadow: 0 0 0 #000000;
	font-family:'open_sansregular', arial;
    position: relative;
}

.oft-nome{
	float: left;
	width: 100%;
	color: #8E9092;
	font-size: 12px;
	font-family:'open_sansregular', arial;
    position: relative;
}

.oft-detalhes{
    float: left;
    width: 110px;
    text-align: right;
    position: relative;
}

.oft-detail {
    float: right;
	cursor: pointer;
	color: #0074FF;
    font-size: 12px;
    margin-top: -2px;
	background: none;
	background-color: none;
	text-decoration: none;
    position: relative;
	font-family: "open_sansregular", sans-serif;
}

.oft-detail:hover{
	color: #0074FF;
    text-decoration: underline;
}

.detail {
    float: right;
	color: #05B30E;
	cursor: pointer;
    margin-top: -3px;
    font-size: 17px;
	background-color: #fff;
	position: relative;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.detail:hover{
	color: #4EEF56;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.oft-linha {
	float: left;
	width: 100%;
	height: 1px;
    margin-top: 15px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	background-color: #E8EEF2;
}
.bl-inter-bloco {
	float: left;
	width: calc(100% - 20px);
	margin-bottom: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
	overflow: hidden;
	position: relative;
	background-color: #FFFFFF;
}
.tit-inter-dest {
    float: left;
    width: 100%;
	color: #383E43;
	font-size: 23px;
	margin-top: 30px;
    position: relative;
	font-family: "open_sanssemibold", sans-serif;
}

/*=========== Busca Filtro ===================================================================================================*/
.bl-filtro-home{
	z-index: 2;
    float: left;
    width: 100%;
	margin-top: 25px;
    position: absolute;
}

.bl-filtro{
    float: left;
    width: 100%;
	min-height: 60px;
    position: relative;
	text-indent: 15px;
	background-color: #FFFFFF;
	border: 1px solid #CFD5D9;
	box-shadow: inset 2px 2px 10px #CFD5D9;
}
.busca-tit {
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 18px;
	margin-top: 10px; /*60*/
	position: relative;
	font-family: "open_sanssemibold", sans-serif;
}
/*====== Acorde ============================================*/
.accordebl {
    color: #FFFFFF;
    width: 100%;
    border: none;
    outline: none;
    padding: 18px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    background-color: #32b965;
    border-bottom: 5px solid #2ba659;
    font-family: "open_sanssemibold", sans-serif;
	-webkit-transition:       all 0.3s ease-out;
	-moz-transition:          all 0.3s ease-out;
	-o-transition:            all 0.3s ease-out;
	-ms-transition:           all 0.3s ease-out;
	transition:               all 0.3s ease-out;

}

.active, .accordebl:hover {
    top:  0 !important;
    right: 0 !important;
    background-color: #007bff;
    border-bottom: 5px solid #085BB5;
    position: relative !important;
}

.accordebl:after {
    content: '\002B';
    color: #FFFFFF;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    max-height: 0;
    margin-top: 10px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
/*==============================================================*/

.abre{ cursor: pointer;}
div.acorde{ display: none; overflow: visible !important; }

h2.accordion{ font-size: 18px; cursor: pointer; overflow: hidden;}
div.accordion{ display: none; }

.dados-cliente{
	float: left;
	z-index: 11;
	width: 100%;
	color: #383E43;
	font-size: 18px;
	margin-top: 10px; /*60*/
	position: absolute;
	background-color: #FFFFFF;
	font-family: "open_sanssemibold", sans-serif;
}
.buscprof {
	float: right;
	width: calc(100% - 12px);
    color: #0e52a4;
    font-size: 18px;
    padding: 7px 25px 7px 15px;
    margin-top: 0px;
    margin-right: 6px;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: "open_sansregular", sans-serif;
}
.busca-bl{
	float: left;
	width: calc(100% - 30px);
	color: #383E43;
	font-size: 15px;
	margin-top: 10px; /*60*/
	margin-left: 15px;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.bus-tit{
	float: left;
	width: 100%;
	color: #232527;
	font-size: 13px;
	display: block;
	margin-top: 10px;
	font-style: normal;
	text-shadow: 0px 0px 0px #232527;
	font-family:'open_sansregular', arial;
}
.bus-select{
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 13px;
	border-radius: 5px;
	margin-top: 5px;
	background-color: #FFFFFF;
	padding: 10px 10px;
	text-shadow: 0 0 0 #626A72;
	border: 1px solid #c7cbce;
	position: relative;
	font-family:'open_sansregular', arial;
}
.bus-area-select{
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 13px;
	border-radius: 5px;
	margin-top: 5px;
	background-color: #FFFFFF;
	padding: 10px 10px;
	text-shadow: 0 0 0 #626A72;
	border: 1px solid #c7cbce;
	position: relative;
	font-family:'open_sansregular', arial;
}
.buscdados {
	float: left;
	width: calc(100% - 30px);
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 25px;
	margin-left: 15px;
	margin-bottom: 30px;
	padding: 7px 0; /*7px 20px*/
	border-radius: 3px;
	position: relative;
	background-color: #5887BF;
	text-shadow: 0px 0px 0px #000;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.buscdados:hover{
	background-color: #2680EB;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.buscdifere {
	float: left;
	color: #383E43;
	margin-top: 5px;
	margin-right: 20px;
	font-size: 13px;
	position: relative;
	text-shadow: 0px 0px 0px #383E43;
	font-family: "open_sansregular", sans-serif;
}
.buscdifcheck {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 1px;
    position: relative;
}
/*=========== Modal Filtro ===================================================================================================*/
.boxmod {
	float: left;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	position: relative;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px 0px #474852;
}

.closemod {
	float: right;
	right: 0;
	color: #888AA2;
	opacity: .5;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	margin-top: 5px;
	margin-right: 20px;
	text-shadow: 0 1px 0 #fff;
	background-color: #FFFFFF;
	position: absolute;
}

.cxmod {
	float: left;
	width: calc(100% - 60px);
	margin-left: 30px;
	margin-right: 30px;
	position: relative;
}

.titmodal {
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 22px;
	margin-top: 40px;
	text-align: center;
	position: relative;
	font-family: "open_sanssemibold", sans-serif;
}

.sub-titmodal {
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 13px;
	text-align: center;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.botoes {
	float: left;
	width: 100%;
	overflow: hidden;
	margin-top: 5px;
	position: relative;
	background-color:  #E8EEF2;
}
.modal-box {
	top:  50px;
	margin: 0 auto;
	max-width: 700px;
	position: relative;
}
.titmodal-txt {
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 27px;
	text-align: center;
	position: relative;
	font-family: "open_sanssemibold", sans-serif;
}


.titmodal-desc-txt {
	float: left;
	width: 100%;
	color: #161717;
	font-size: 13px;
	padding: 0 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: justify;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.comp {
	display: block;
}
.mobil {
	display: none;
}
.ban1 {
	display: block;
}
.ban2 {
	display: none;
}
.ban3 {
	display: none;
}


/*=========== Box Filtro Modal =========================*/
#filbusca{
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
}
.itemcont {
	float: left;
	width: 100%;
	color: #383E43;
	margin-top: 5px;
	font-size: 13px;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.box-itemdifere {
	float: left;
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;
	background: #EBF1F5;
	padding: 10px 10px;
	text-shadow: 0 0 0 #626A72;
	border: 1px solid #B6D8F1;
	box-shadow: inset 0px 0px 20px #CFD5D9;
	position: relative;
}
.itemdifere {
	float: left;
	width: 100%;
	color: #383E43;
	margin-top: 5px;
	font-size: 13px;
	position: relative;
	font-family: "open_sansregular", sans-serif;
}
.itemdifcheck {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: -3px;
    position: relative;
}
#filbusca ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
#filbusca ul li input,
#filbusca ul li select,
#filbusca ul li textarea{
	width: 100%;
	color: #383E43;
	font-size: 13px;
	border-radius: 5px;
	margin-top: 5px;
	background: #EBF1F5;
	padding: 10px 10px;
	text-shadow: 0 0 0 #626A72;
	border: 1px solid #B6D8F1;
	position: relative;
	font-family:'open_sansregular', arial;
}
#filbusca ul li input {
	width: 100%;
	margin-bottom: 7px;
}
#filbusca ul li textarea {
	width: 100%;
	height: 160px;
	margin-bottom: 7px;
}

#filbusca .envia {
	float: left;
	width: 100%;
	height: 46px;
	line-height: 46px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 15px;
	border-radius: 7px;
	text-align: center;
	position: relative;
	border: none;
	background-color: #FB942E;
	font-family:"open_sansregular", arial;
	transition: all 600ms linear;
}
#filbusca .envia:hover {
	background-color: #E57C14;
}

/*======= Formulários ==================================================================*/
.cadastro{
	float: left;
	width: 100%;
	position: relative;
}
.dad{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	position: relative;

}
.dad-fot{
	float: left;
	width: 100%;
	position: relative;
}
.dad-foto{
	float: left;
	width: 100%;
	position: relative;
}

.dado{
	overflow: hidden;
	padding: 0 5px;
}
.dad-check-cx{
	float: left;
	width: 100%;
	margin-top: 10px;
	position: relative;
}
.dad-check{
	float: left;
	width: 910px;
	min-height: 37px;
	margin-bottom: 10px;
	position: relative;
	background: #D8D8D8;
	border: 1px solid #BFBFBF;
}
.dad-check-nome{
	width: 96%;
	color: #000000;
	font-size: 13px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-shadow: 0px 0px 0px #8C0000;
	font-family:'switzerland_condensedplain', arial;
}
.imput-upload  {
	float: left;
	width: 100%;
	color: #A00;
	height: 27px;
	font-size: 13px;
	border: none;
	background: #FF0004;
	margin-top: 5px;
	text-indent: 10px;
	text-shadow: 0px 0px 0px #A00;
	font-family:'switzerland_condensedplain', arial;
}
.set-nome{
	float: left;
	color: #8C0000;
	font-size: 13px;
	margin-top: 9px;
	margin-left: 10px;
	margin-right: 15px;
	position: relative;
	text-shadow: 0px 0px 0px #8C0000;
	font-family:'switzerland_condensedplain', arial;
}

.cadastro ul {
	float: left;
	width: 100%;
	padding: 0;
	margin: auto;
	list-style: none;
}
.cadastro label{
	float: left;
	width: 100%;
	color: #232527;
	font-size: 13px;
	display: block;
	text-align: left;
	font-style: normal;
	text-shadow: 0px 0px 0px #232527;
	font-family:'open_sansregular', arial;
}
.cadastro ul li input,
.cadastro ul li textarea{
	float: left;
	width: 100%;
	color: #383E43;
	font-size: 13px;
	border: none;
	border-radius: 5px;
	border: 1px solid #9DB1C1;
	background-color: #F2F6F8;
	text-indent: 10px;
	text-shadow: 0px 0px 0px #383E43;
	font-family:'open_sansregular', arial;
}
.cadastro ul li input{
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}
.cadastro ul li textarea{
	width: 100%;
	height: 200px;
	padding: 12px 0 0 0;
	margin-bottom: 10px;
}
::-webkit-input-placeholder {
   color: #CBC8C8;
}

:-moz-placeholder {
   color: #CBC8C8;
}

::-moz-placeholder {
   color: #CBC8C8;
}

:-ms-input-placeholder {  
   color: #CBC8C8;
}
.modform {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.closefor a{
	z-index: 2;
	float: right;
	margin-top: -25px;
	margin-right: -30px;
	position: relative;
	background-color: #FFFFFF;
}
.closeforx{
	color: #000;
	font-size: 22px;
    position: relative;
}
.altplan a {
	float: right;
	width: 100%;
	color: #FFFFFF;
	cursor: pointer;
	text-align: center;
	padding: 7px 20px;
	border-radius: 3px;
	position: relative;
	background-color: #1ebea5;
	text-shadow: 0px 0px 0px #000;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.altplan a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #1C9A86;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.altpoup a {
	float: right;
	width: 100%;
	color: #FFFFFF;
	cursor: pointer;
	text-align: center;
	padding: 7px 20px;
	border-radius: 3px;
	position: relative;
	background-color: #5887BF;
	text-shadow: 0px 0px 0px #000;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.altpoup a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #2680EB;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.blalertpre{
	float: left;
	width: calc(100% - 22px);
	color: #FFFFFF;
	font-size: 15px;
	padding: 15px 20px;
	margin-bottom: 10px;
	background-color: #FB942E;
	border: 2px solid #CF761E;
	box-shadow: inset 1px 1px 15px #CF761E;
	font-family:'open_sansregular', arial;
}
.blalert{
	float: left;
	width: calc(100% - 22px);
	color: #000000;
	font-size: 15px;
	padding: 30px 20px;
	margin-bottom: 10px;
	background-color: #C2D2DC;
	border: 2px solid #8EA8B9;
	box-shadow: inset 1px 1px 15px #8EA8B9;
	font-family:'open_sansregular', arial;
}
.altplannov a {
	float: left;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	padding: 10px 30px;
	border-radius: 3px;
	position: relative;
	border: 2px solid #168F7C;
	background-color: #1ebea5;
	text-shadow: 0px 0px 0px #FFFFFF;
	box-shadow: inset 1px 1px 5px #168F7C;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.altplannov a:hover{
	color: #FFFFFF;
	text-decoration: none;
	border: 2px solid #1ebea5;
	background-color: #1C9A86;
	box-shadow: inset 1px 1px 5px #1ebea5;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}

.contnome{
	float: left;
	width: 100%;
	color: #232527;
	font-size: 13px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 0px #232527;
	font-family:'open_sansregular', arial;
}
.contitem{
	color: #8E9092;
}
.poupimg{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.poupimg img{
	float: left;
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;
	position: relative;
}

.regdados {
	float: right;
	width: 100%;
	color: #FFFFFF;
	cursor: pointer;
	padding: 7px 20px;
	border-radius: 3px;
	position: relative;
	background-color: #5887BF;
	text-shadow: 0px 0px 0px #000;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.regdados:hover{
	background-color: #2680EB;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
#desc_textarea{
	float: left;
	width: 740px;
	height: 50px;
	color: #000;
	padding: 5px;
	font-size: 13px;
	border-radius: 3px;
	background: #FFFFFF;
	font-family:'Swis721LtBTLight', arial;
	
	box-shadow:         4px 4px 5px 1px #B1B9B4;
	-moz-box-shadow:    4px 4px 5px 1px #B1B9B4;
	-webkit-box-shadow: 4px 4px 5px 1px #B1B9B4;
}
.closex {
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	margin-top: -6px;
	margin-left: -35px;
	margin-right: 15px;
	border-radius: 100%;
	position: relative;
	background-color: #f89a32;
	text-shadow: 0px 0px 0px #000;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.closexx {
	z-index: 1;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	border-radius: 100%;
	position: absolute;
	background-color: #f89a32;
	text-shadow: 0px 0px 0px #000;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.regexcluir {
	float: left;
	width: 100%;
	color: #FFFFFF;
	cursor: pointer;
	padding: 7px 20px;
	border-radius: 3px;
	position: relative;
	background-color: #f89a32;
	text-shadow: 0px 0px 0px #000;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.regexcluir:hover{
	background-color: #FF0017;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0px;
  font-size: 15px;
  color: #999999;
}

label.new-button {
  right: 0;
  float: right;
  width: 105px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  cursor: pointer !important;
  border-radius: 4px;
  background-color: #5887BF;
  font-size: 15px;
  overflow: hidden;
  text-align: center;
  color: #fff !important;
  font-family:'open_sansregular', arial;
  position: absolute;
}

.caddados a {
	float: left;
	width: 100%;
	color: #FFFFFF;
	cursor: pointer;
	padding: 7px 20px;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 20px;
	text-decoration: none;
	position: relative;
	background-color: #5887BF;
	text-shadow: 0px 0px 0px #000;
	font-family:'open_sansregular', arial;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
.caddados a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #2680EB;
	-webkit-transition:       all 0.2s ease-out;
	-moz-transition:          all 0.2s ease-out;
	-o-transition:            all 0.2s ease-out;
	-ms-transition:           all 0.2s ease-out;
	transition:               all 0.2s ease-out;
}
/*=========== Paginação ===================================================================================================*/
.paginacao {
	float: left;
	display: block;
	width: 100%;
	margin-top: 30px;
	position: relative;
}
.numeracao {
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	margin-right: 5px;
	text-decoration: none;
	position: relative;
	background: #0074FF;
	border: 1px solid #0074FF;
	font-family: Arial, Helvetica, sans-serif;
}
.numeracao_link a {
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #89939B;
	font-size: 13px;
	text-align: center;
	margin-right: 5px;
	text-decoration: none;
	position: relative;
	border: 1px solid #484D54;
	font-family: Arial, Helvetica, sans-serif;
}
.numeracao_link a:hover {
	color: #FFFFFF;
	background: #0074FF;
	border: 1px solid #0074FF;
	text-decoration: none;
}
.nextprev a {
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #89939B;
	font-size: 18px;
	text-align: center;
	margin-right: 5px;
	text-decoration: none;
	position: relative;
	border: 1px solid #484D54;
	font-family: Arial, Helvetica, sans-serif;
}
.nextprev a:hover {
	color: #FFFFFF;
	background: #0074FF;
	border: 1px solid #0074FF;
	text-decoration: none;
}
/*============== Campanha ===================*/
#fecha{
	width: 100%;
	height: 1080px;
	z-index: 5500;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5)
}
#caixa_campanha{
	left: 50%;
	max-width: 1000px;
	margin-top: 70px;
	margin-left: -500px;
	position: relative;
}
#close { 
	z-index: 1;
	float: right;
	width: 32px;
	margin-right: -19px;
	position: relative; 
}
#arte{
	float: left;
	width: 1000px;
	margin-top: -10px;
	position: relative;
}
#arte img{
	width: 100%;
}
.mapa {
	float: left;
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
}
.maps { width: 100%; height: 100%; border: none; }
/*================== Mídias ==================================================================================================*/

@media screen and (max-width: 1540px)  {

	.promo-fot {
		height: 180px;
	}
	
	.promo-mask {
		height: 180px;
	}
	
	.promo-name {
		width: 100%;
		bottom: 50px;
	}

	.promo-name-serv {
		width: 100%;
		bottom: 35px;
	}

	.boxit-estrela-promo {
		float: left;
		width: 100%;
		left: 20px;
		bottom: 13px;
	}

	.boxit-promo-nota {
		float: left;
		left: 110px;
		bottom: 11px;
	}

	.boxit-promo-love {
		float: left;
		left: 140px;
		bottom: 7px;
	}
	

}
@media screen and (max-width: 1200px)  {
	
	.titfxdest {
		margin-top: 30px;
	}
	
	.destv a{
		margin-top: 39px;
	}
	
	.titfxdest-meio {
		margin-top: 30px;
	}

	.promo-fot {
		height: 210px;
	}
	
	.promo-mask {
		height: 210px;
	}
}
@media screen and (max-width: 1040px)  {

	.promo-fot {
		height: 180px;
	}
	
	.promo-mask {
		height: 180px;
	}
    
    #caixa_campanha{
        left: 0;
        width: calc(100% - 50px);
        margin-top: 70px;
        margin-left: 25px;
    }
    
    #arte {
        width: 100%;
    }
    
}
@media screen and (max-width: 990px)  {

	.bl-filtro{
		margin-top: 10px;
		margin-bottom: 10px;
	}	
}
@media screen and (max-width: 960px)  {

	.botoes {
		background-color: transparent;
	}	
	.comp {
		display: none;
	}
	.mobil {
		display: block;
	}
	
}
@media screen and (max-width: 959px)  {

	.bloco-perfil {
		width: 100%;
		margin-right: 0;
	}
	.bl-atua-bloco {
		margin-top: 15px;
		margin-bottom: 0;
	}
	.blalert, .blalertpre{
		width: 100%;
	}
    .bl-inter-bloco {
        width: 100%;
        margin-top: 50px;
    }    
}
@media screen and (max-width: 900px)  {

	.promo-fot {
		height: 250px;
	}
	
	.promo-mask {
		height: 250px;
	}
	
}
@media screen and (max-width: 820px) {
	
}
@media screen and (max-width: 768px) {
    .mapa {
        height: 50vh;
    }
	.cnt {
	   display: block;
		height: auto;
	}

	.blg {
	   padding: 0 20px;
	}
	
    /*
	.bloco-carro {
		margin-top: -50px;
	}
    */

	.tit {
		margin-top: 30px;
	}
	
	.titfxtop {
		padding: 30px 20px;
	}	
	
	.bl-prom-slide {
		margin-top: 40px;
		margin-bottom: 70px;
	}
	
	.perf-bloco {
		margin-top: 13px;
	}
	.ban1 {
		display: none;
	}
	.ban2 {
		display: block;
	}

    .bl-cadastros {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {

	.public a{
	font-size: 8px;
	padding: 3px 5px;
}

	
}
@media screen and (max-width: 610px) {

}
@media screen and (max-width: 580px) {

}
@media screen and (max-width: 545px) {
	
	.titfxdest-meio {
		margin-top: 30px;
	}

}
@media screen and (max-width: 479px) {
    .mapa {
        height: 200px;
    }
    
	.titfxdest {
		margin-top: 30px;
	}
	
	.destv a{
		width: 100%;
		margin-top: 5px;
		margin-left: 0;
	}
	
	.destvcity a{
		float: left;
		margin-top: 5px;
	}
	
	.cx-promocao{
		width: 100%;
		margin-top: 30px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.promo-fot {
		height: 250px;
	}
	
	.promo-mask {
		height: 250px;
	}
	.busca-bl{
		width: calc(100% - 30px);
		margin-left: 15px;

	}
	.buscdados {
		float: left;
		width: calc(100% - 30px);
		text-align: center;
		margin-top: 25px;
		padding: 7px 20px;

	}
	
}

@media screen and (max-width: 430px) {
	
	.boxitcar a{
		width: 100%;
		margin-top: 30px;
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: 400px) {

	.boxit a{
		width: 100%;
		margin-right: 0px;
	}
	
	.boxit-tit, .boxit-esp {
		height: auto;
	}

	.promo-fot {
		height: 200px;
	}
	
	.promo-mask {
		height: 200px;
	}
	.ban2 {
		display: none;
	}
		.ban3 {
		display: block;
	}
    .bl-inter-bloco {
        padding-right: 15px;
    } 
    
    .box-oft {
        display: contents;
    }
    
}
@media screen and (max-width: 300px) {
	
	.destvprom a{
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}

	.promo-fot {
		height: 150px;
	}
	
	.promo-mask {
		height: 150px;
	}
	
}