@charset "utf-8";
/* CSS Document */


.desk {
	z-index: 10;
	width: 100%;
	position: relative;
}
.desk ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 70px;
}
.desk li {
	float: left;
	display: inline;
}
.desk a {
	color: #6C7780;
	font-size: 16px;
	padding: 0;
	line-height: 70px;
	margin-left: 70px;
	margin-right: 70px;
	display: inline-block;
  	transition: all 200ms linear;
	position: relative;
	text-decoration: none;
	font-family: 'open_sanssemibold', Arial, sans-serif;
}
.desk li:last-child a {
	border-right: 0;
}

.confirm  {
	color: #6C7780;
	font-size: 18px;
	line-height: 70px;
	margin-right: 5px;
	display: inline-block;
  	transition: all 200ms linear;
	position: relative;
	text-decoration: none;
}
.confirms  {
	color: #f89a32;
	font-size: 18px;
	line-height: 70px;
	margin-right: 5px;
	display: inline-block;
  	transition: all 200ms linear;
	position: relative;
	text-decoration: none;
}
.desk a:hover > .confirm:hover {
	color: #35D9AD;
}

@media screen and (max-width: 1455px)  { .desk a { margin-left: 50px; margin-right: 50px; } }
@media screen and (max-width: 1215px)  { .desk a { margin-left: 30px; margin-right: 30px; } }
@media screen and (max-width: 1080px)  { .desk a { margin-left: 20px; margin-right: 20px; } }


.desk a:hover {
	color: #000000;
	text-decoration: none;
  	transition: all 200ms linear;
}

.bot a {
	color: #FFFFFF;
	font-size: 16px;
	padding: 0 70px;
	line-height: 70px;
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
  	transition: all 200ms linear;
	position: relative;
	text-decoration: none;
	font-family: 'open_sanssemibold', Arial, sans-serif;
	background-color: #344c9b;
	position: relative;
}
.bot a:hover {
	color: #FFFFFF;
	font-size: 16px;
	padding: 0 70px;
	line-height: 70px;
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
  	transition: all 200ms linear;
	position: relative;
	text-decoration: none;
	font-family: 'open_sanssemibold', Arial, sans-serif;
	background-color: #344c9b;
	position: relative;
}
.bot a:hover > .confirm:hover {
	color: #35D9AD;
}



/*
.desk a:before{
    left: 0;
    bottom: 20px;
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    visibility: hidden;
    background-color: #000000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.desk a:hover:before{
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}
*/













.desks {
	width: 100%;
	position: relative;
}
.desks ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 40px;
}
.desks li {
	float: left;
	display: inline;
}
.desks a {
	color: #000000;
	font-size: 16px;
	padding: 10px 12px;
	display: inline-block;
  	transition: all 200ms linear;
	position: relative;
	font-family: 'ralewaymedium', Arial, sans-serif;
}
.desks li:last-child a {
	border-right: 0;
}
@media screen and (max-width: 1100px)  { .desks a { padding: 10px 10px; } }
@media screen and (max-width: 1080px)  { .desks a { padding: 10px 9px; } }
@media screen and (max-width: 1050px)  { .desks a { padding: 10px 8px; } }
@media screen and (max-width: 1015px)  { .desks a { padding: 10px 6px; } }
.desks a:hover, .desks a:active {
	color: #0f7e27;
  	transition: all 200ms linear;
}

.desks a:before{
    left: 0;
    bottom: 5px;
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    visibility: hidden;
    background-color: #0f7e27;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.desks a:hover:before{
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}





















.button_container{
  z-index: 100;
  float: left;
  width: 35px;
  height: 27px;
  display: none;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
}

.active{
  right: 21px;
  position: fixed;
}

@media screen and (max-width: 960px)  { .active { top: 15px; } }

.button_container.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
      -ms-transform: translateY(10px) translateX(0) rotate(45deg);
          transform: translateY(10px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
          transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  cursor: pointer;
  border: none;
  background: #000000;
  position: absolute;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}
/*===== Parte II =====*/
.butmain span {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  cursor: pointer;
  border: none;
  background: #000;
  position: absolute;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
}
@media screen and (max-width: 580px) { .butmain span { background: #FFF; } }



.overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, width .35s;
          transition: opacity .35s, visibility .35s, width .35s;
  z-index: 9;
  background: rgba(0,0,0,.8);
}
.overlay:before {
  background: rgba(0,0,0,.8);
  content: '';
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: left .35s ease;
          transition: left .35s ease;
}
.overlay:after {
  content: '';
  background: rgba(0,0,0,.8);
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
  width: 100%;
  z-index: 9;
}
.overlay.open:before {
  left: 0;
}
.overlay.open:after {
  right: 0;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .65s;
          animation-delay: .65s;
}
.overlay nav {
  top: 50%;
  z-index: 100;
  height: 100%;
  overflow: scroll;
  text-align: center;
  position: relative;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

}
.overlay ul {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block !important;
  padding: 20px 0;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  color: #FFF;
  overflow: hidden;
  position: relative;
  font-size: 30px !important;
  text-decoration: none;
  transition: all 200ms linear;
  font-family: 'ralewaymedium', Arial, sans-serif;
}
.overlay ul li a:hover, overlay ul li:active {
	color: #ffe32a;
  	transition: all 200ms linear;
}

.overlay ul li a:before{
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    visibility: hidden;
    background-color: #ffe32a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.overlay ul li a:hover:before{
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


@media screen and (max-width: 960px) {
	
	.desk{ display: none; }
	.desks{ display: none; }
	.button_container{ display: block; }
	
}