@charset "utf-8";
/* CSS Document */
	.boxfull	{	float: left; 	width:100%;		position:relative;		margin:auto;							}
	.box		{	float: left; 	width:1200px;	position:relative;		left:50%; 			margin-left:-600px; }
	/*.row		{	float: left; 	width:100%;		clear:both;								 						}*/
	.linha		{	float: left; 	width:100%;		clear:both;								 						}
	
	.grdGRL-0	{	width:0%;				float:left;	}
	.grdGRL-1	{	width:8.33333333333%;	float:left;	}
	.grdGRL-2	{	width:16.6666666667%;	float:left;	}
	.grdGRL-3	{	width:25%;				float:left;	}
	.grdGRL-4	{	width:33.3333333333%;	float:left; }
	.grdGRL-5	{	width:41.6666666667%;	float:left;	}
	.grdGRL-6	{	width:50%;				float:left;	}
	.grdGRL-7	{	width:58.3333333333%;	float:left;	}
	.grdGRL-8	{	width:66.6666666667%;	float:left;	}
	.grdGRL-9	{	width:75%;				float:left;	}
	.grdGRL-10	{	width:83.3333333333%;	float:left;	}
	.grdGRL-11	{	width:91.6666666667%;	float:left;	}
	.grdGRL-12	{	width:100%;				float:left;	}


@media screen and (max-width: 1200px) {
	.box		{	width: 100%; 	left: 0; 	margin: auto;	padding: 0 20px; 	position:relative;	}
	.grdDSK-0	{	width:0%;				float:left;	}
	.grdDSK-1	{	width:8.33333333333%;	float:left;	}
	.grdDSK-2	{	width:16.6666666667%;	float:left;	}
	.grdDSK-3	{	width:25%;				float:left; }
	.grdDSK-4	{	width:33.3333333333%;	float:left;	}
	.grdDSK-5	{	width:41.6666666667%;	float:left;	}
	.grdDSK-6	{	width:50%;				float:left;	}
	.grdDSK-7	{	width:58.3333333333%;	float:left;	}
	.grdDSK-8	{	width:66.6666666667%;	float:left;	}
	.grdDSK-9	{	width:75%;				float:left;	}
	.grdDSK-10	{	width:83.3333333333%;	float:left;	}
	.grdDSK-11	{	width:91.6666666667%;	float:left;	}
	.grdDSK-12	{	width:100%;				float:left;	}
}


@media screen and (max-width: 959px) {
	.box		{	width: 100%; 	left: 0; 	margin: auto;	padding: 0 20px; 	position:relative;	}
	.grdTBLp-0	{	width:0%;				float:left;	}
	.grdTBLp-1	{	width:8.33333333333%;	float:left;	}
	.grdTBLp-2	{	width:16.6666666667%;	float:left;	}
	.grdTBLp-3	{	width:25%;				float:left;	}
	.grdTBLp-4	{	width:33.3333333333%;	float:left;	}
	.grdTBLp-5	{	width:41.6666666667%;	float:left;	}
	.grdTBLp-6	{	width:50%;				float:left;	}
	.grdTBLp-7	{	width:58.3333333333%;	float:left;	}
	.grdTBLp-8	{	width:66.6666666667%;	float:left;	}
	.grdTBLp-9	{	width:75%;				float:left;	}
	.grdTBLp-10	{	width:83.3333333333%;	float:left;	}
	.grdTBLp-11	{	width:91.6666666667%;	float:left;	}
	.grdTBLp-12	{	width:100%;				float:left;	}
}


@media screen and (max-width: 768px) {
	.box		{	width: 100%; 	left: 0; 	margin: auto;	padding: 0 20px; 	position:relative;	}
	.grdTBLr-0	{	width:0%;				float:left;	}
	.grdTBLr-1	{	width:8.33333333333%;	float:left;	}
	.grdTBLr-2	{	width:16.6666666667%;	float:left;	}
	.grdTBLr-3	{	width:25%;				float:left;	}
	.grdTBLr-4	{	width:33.3333333333%;	float:left;	}
	.grdTBLr-5	{	width:41.6666666667%;	float:left;	}
	.grdTBLr-6	{	width:50%;				float:left;	}
	.grdTBLr-7	{	width:58.3333333333%;	float:left;	}
	.grdTBLr-8	{	width:66.6666666667%;	float:left;	}
	.grdTBLr-9	{	width:75%;				float:left;	}
	.grdTBLr-10	{	width:83.3333333333%;	float:left;	}
	.grdTBLr-11	{	width:91.6666666667%;	float:left;	}
	.grdTBLr-12	{	width:100%;				float:left;	}
}


@media screen and (max-width: 479px) { 
	.box		{	width: 100%; 	left: 0; 	margin: auto;	padding: 0 20px; 	position:relative;	}
	.grdSMPr-0	{	width:0%;				float:left;	}
	.grdSMPr-1	{	width:8.33333333333%;	float:left;	}
	.grdSMPr-2	{	width:16.6666666667%;	float:left;	}
	.grdSMPr-3	{	width:25%;				float:left;	}
	.grdSMPr-4	{	width:33.3333333333%;	float:left;	}
	.grdSMPr-5	{	width:41.6666666667%;	float:left;	}
	.grdSMPr-6	{	width:50%;				float:left;	}
	.grdSMPr-7	{	width:58.3333333333%;	float:left;	}
	.grdSMPr-8	{	width:66.6666666667%;	float:left;	}
	.grdSMPr-9	{	width:75%;				float:left;	}
	.grdSMPr-10	{	width:83.3333333333%;	float:left;	}
	.grdSMPr-11	{	width:91.6666666667%;	float:left;	}
	.grdSMPr-12	{	width:100%;				float:left;	}
}


@media screen and (max-width: 400px) { 
	.box		{	width: 100%; 	left: 0; 	margin: auto;	padding: 0 20px; 	position:relative;	}
	.grdMOPr-0	{	width:0%;				float:left;	}
	.grdMOPr-1	{	width:8.33333333333%;	float:left;	}
	.grdMOPr-2	{	width:16.6666666667%;	float:left;	}
	.grdMOPr-3	{	width:25%;				float:left;	}
	.grdMOPr-4	{	width:33.3333333333%;	float:left;	}
	.grdMOPr-5	{	width:41.6666666667%;	float:left;	}
	.grdMOPr-6	{	width:50%;				float:left;	}
	.grdMOPr-7	{	width:58.3333333333%;	float:left;	}
	.grdMOPr-8	{	width:66.6666666667%;	float:left;	}
	.grdMOPr-9	{	width:75%;				float:left;	}
	.grdMOPr-10	{	width:83.3333333333%;	float:left;	}
	.grdMOPr-11	{	width:91.6666666667%;	float:left;	}
	.grdMOPr-12	{	width:100%;				float:left;	}
}

