@charset "utf-8";

/*--------------------------------------------------------------------------------------------------------------------*/
/* reset */
/*--------------------------------------------------------------------------------------------------------------------*/
:root {
    --open-sans-font: 'Open Sans', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
    --first-color: #383E43;
    --second-color: #0C5F98;
    --third-color: #232527;
    --fourth-color: #7F8385;
    --fifth-color: #BBE3FE;
    --sixth-color: #7D8692;
    --seventh-color: #4593EF;
    --eighth-color: #E4F4FF;
    --ninth-color: #0074FF;
    --tenth-color: #FB942E;
    --eleventh-color: #707070;
    --twelfth-color: #CFCFCF;
    --thirteenth-color: #3A7298;
    --fourteenth-color: #B5BBC1;
    --fifteenth-color: #4F545A;
    --sixteenth-color: #AFB4B8;
    --seventeenth-color: #5E6971;
    --eighteenth-color: #95A7B4;
    --nineteenth-color: #5D5E5E;
    --twentieth-color: #464B50;
    --twenty-first-color: #292D30;
    --twenty-second-color: #4468B0;
    --twenty-fourth-color: #0E52A4;
    --twenty-fifth-color: #0D2A4D;
    --twenty-sixth-color: #2D496B; 
    --twenty-seventh-color: #EEF6FB;
    --twenty-ninth-color: #6CC0F8;
    --thirtieth-color: #DBE2E8;
    --facebook-color: #3B5998;
    --youtube-color: #C4302B;
    --twitter-color: #55ACEE;
    --instagram-color: #3F729B;
    --whatsapp-color: #55CD6C;
    --home-icon-color: #F8E16E;
    --user-icon-color: #5EA7FF;
    --envelope-icon-color: #F89D6E;
    --budget-icon-color: #6EF8C1;
    --favorite-icon-color: #F86E77;
}

* {
    outline-color: transparent;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    font-weight: 400;
}

*, *::after, *::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input, textarea, select { 
    outline: none; 
}

a, button, input[type="submit"] { 
    text-decoration: none; 
    outline: none; 
    cursor: pointer;
}

p {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.no-padding-left {
    padding-left: 0 !important; 
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-left-right {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.container, .row {
    min-height: inherit;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* end reset */

/*--------------------------------------------------------------------------------------------------------------------*/

/* PÁGINA INICIAL */

header#home {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(13, 94, 201, 0.44), rgba(13, 94, 201, 0.26), rgba(13, 94, 201, 0.21), rgba(8, 34, 68, 0.73)), url('../_img//helpers//bg-cover.png');
    background-repeat: no-repeat;
    height: 1080px;
    background-size: cover;
    background-attachment: unset;
    background-position: top;
}

div.header {
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
}

div#fixed_header {
    display: flex;
    min-height: 206px;
}

div#mobile_header {
    display: none; 
    position: sticky;
    background-color: var(--twenty-fourth-color); 
    top: 0; 
    /*min-height: 65px; */
	text-align: center;
}

a.link-logo {
    margin-left: 8%;
}

div.anchors {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

a.anchor-link {
    color: var(--white);
    font-size: 20px;
    font-family: var(--open-sans);
    margin-right: 5%;
}

h1#solution {
    margin-top: 90px;
    text-align: center;
    width: 100%;
    color: var(--white);
    font-family: var(--montserrat-font);
    font-weight: 300;
    font-size: 50px;
}

h2#benefit {
    width: 100%;
    color: var(--white);
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    font-family: var(--montserrat-font);
    margin-bottom: 50px;
    margin-top: 140px;
}

form#search-form-home {
    display: block;
    max-width: 910px;
    height: 65px;
    box-shadow: 0 3px 6px rgba(129, 141, 183, 0.16);
    margin: 60px auto 0 auto;
    padding: 4px 6px;
}

form.search-form {
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background-color: var(--white);
    width: 100%;
}

ul#area-list {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    display: none;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
    margin-top: -5px;
    padding: 30px 30px 15px 30px;
    margin-bottom: 0;
}

input#search-professional-home {
    width: calc(100% - 132px);
    font-size: 22px;
}

input.search-professional-home {
    float: left;
	width: calc(100% - 132px); /*132*/
	height: 100%;
    text-indent: 18px;
    font-family: var(--open-sans-font);
    color: var(--first-color);
    padding-right: 10px;
}

input.search-professional {
    float: left;
	width: calc(100% - 123px); /*132*/
	height: 100%;
    text-indent: 18px;
    font-family: var(--open-sans-font);
    color: var(--first-color);
    padding-right: 10px;
}

input.search-professional::placeholder {
    color: var(--first-color);
}

button#search-submit-home {
	float: right;
    width: 132px;
    font-size: 18px;
    background-color: var(--twenty-fourth-color);
}

button.search-submit {
    height: 100%;
    border-radius: 5px;
    color: var(--white);
    font-family: var(--open-sans-font);
}

h3.benefit-title {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--open-sans-font);
    color: var(--white);
    text-align: center;
    margin-bottom: 15px
}

p.benefit-text {
    font-size: 15px;
    text-align: center;
    color: var(--white);
    font-family: var(--open-sans-font);
}

a.contact-shortcut {
    margin: 40px 2% 0 0;
    width: 56px;
    height: 56px;
    background-color: var(--ninth-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.list-category {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
}

li.list-category a {
    font-size: 14px;
    font-family: var(--open-sans-font);
    color: var(--first-color);
}

section#how_works > div.container {
    margin: 120px auto;
}

section#how_works > div.container div.row:last-of-type {
    margin-top: 100px;
}

h4#how_works_title {
    font-weight: 500;
    font-size: 40px;
    font-family: var(--montserrat-font);
    margin-bottom: 20px;
    color: var(--second-color);
}

h5#how_works_subtitle {
    margin-bottom: 40px;
    font-size: 28px;
    font-family: var(--open-sans-font);
    color: var(--third-color);
}

p#how_works_faq {
    font-size: 20px;
    font-family: var(--open-sans-font);
    color: var(--fourth-color);
}

p#how_works_faq > a {
    color: var(--second-color);
}

.underscore_effect {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.underscore_effect::after {
    content: '';
    width: 100%;
    height: 12px;
    background-color: var(--fifth-color);
    position: absolute;
    bottom: 2px;
    z-index: -1;
    right: 0;
}

p#how_works_text {
    color: var(--sixth-color);
    margin-top: 70px;
}

figure.how_works_figure {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

figcaption.how_works_item_title {
    font-size: 22px;
    font-family: var(--montserrat-font);
    color: var(--seventh-color);
    display: inline-block;
    z-index: 2;
}

span.how_works_item_icon {
    display: flex;
    width: 125px;
    height: 125px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: -25px;
    z-index: 1;
    background-color: var(--eighth-color);
}

p.how_works_item_text {
    color: var(--sixth-color);
    font-family: var(--open-sans-font);
    margin-top: 10px;
}

section#professional_profile {
    background-color: var(--eighth-color);
}

.professional_profile_container {
    padding-right: 10%;
}

.customer_profile_container {
    padding-left: 10%;
}

.professional_profile_container, .customer_profile_container {
    margin-top: 175px;
}

img.profile_background {
    width: 100%;
    height: auto;
}

h1.profile_title {
    font-size: 40px;
    font-family: var(--montserrat-font);
    margin-bottom: 20px;
    color: var(--first-color);
}

h2.profile_subtitle {
    font-size: 25px;
    color: var(--second-color);
    font-family: var(--open-sans-font);
    margin-bottom: 50px;
}

p.profile_text {
    font-size: 18px;
    font-family: var(--open-sans-font);
    color: var(--fourth-color);
    margin-bottom: 60px;
}

a.register_button {
    max-width: 244px;
    width: 100%;
    height: 56px;
    border-radius: 5px;
    background-color: var(--ninth-color);
    display: inline-block;
    color: var(--white);
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    font-family: var(--montserrat-font);
    margin-bottom: 20px;
}

section#login-message {
    background-color: var(--twenty-first-color);
    min-height: 195px;
}

p#message {
    font-size: 35px;
    font-weight: 300;
    font-family: var(--montserrat-font);
    color: var(--white);
    text-align: center;
}

p#message > a {
    color: var(--tenth-color);
    text-decoration: underline;
}

footer {
	float: left;
	width: 100%;
    /*min-height: 340px;*/
	margin-top: -1px;
	padding: 30px 0;
    background-color: var(--first-color);
    display: flex;
    align-items: center;   
}

footer > div.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

h1.footer-title {
    color: var(--white);
    font-size: 14px;
    font-family: var(--open-sans-font);
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px auto 25px auto;
    width: 100%;
}

a#search-footer {
    display: inline-block;
    height: 56px;
    max-width: 314px;
    width: 100%;
    background-color: var(--tenth-color);
    border-radius: 5px;
    color: var(--white);
    font-family: var(--montserrat-font);
    /*text-align: center;*/
    font-size: 17px;
    line-height: 56px;
    margin: 50px 0;
	text-decoration: none;
}

a.social-media-container {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.social-media-container:not(:last-of-type) {
    margin-right: 5px;
}

a#facebook {
    background-color: var(--facebook-color);
}

a#youtube {
    background-color: var(--youtube-color);
}

a#twitter {
    background-color: var(--twitter-color);
}

a#instagram {
    background-color: var(--instagram-color);
}

a#whatsapp {
    background-color: var(--whatsapp-color);
}

.menu-item-footer, .menu-item-footer > a {
	text-decoration: none;
    font-size: 13px;
    font-family: var(--open-sans-font);
    color: var(--twelfth-color);
}
.menu-item-footer, .menu-item-footer > a:hover {
	text-decoration: none;
    color: var(--twelfth-color);
}

/* *** */

/* PÁGINA CADASTRO CLIENTE */

div#register-background {
    background-repeat: no-repeat;
    height: 1080px;
    background-size: cover;
    background-attachment: unset;
    background-position: top;
}

img.register-logo {
    margin-top: 71px;
}

div.return-container {
    padding: 100px 30px 30px 30px;
}

a.return-button {
    color: var(--thirteenth-color);
    font-family: var(--montserrat-font);
    display: flex;
    align-items: center;
}

img.return-image {
    margin-right: 10px;
}

main#register-customer .half-container {
    margin-left: 16%;
    padding-right: 7.3%;
}

h1.register-title {
    font-size: 30px;
    font-weight: 300;
    font-family: var(--montserrat-font);
    color: var(--ninth-color);
    margin-bottom: 20px;
}

.facebook-register {
    height: 50px;
    max-width: 245px;
    width: calc(50% - 5px);
    color: var(--white);
    font-family: var(--open-sans-font);
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
	background-color: var(--twenty-second-color);
}

.lbot {
	float: left;
	width: 50%;
	position: relative;
}

.register-button {
    height: 50px;
    max-width: 245px;
    width: calc(100% - 5px);
    color: var(--white);
    font-family: var(--open-sans-font);
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
	background-color: var(--ninth-color);
}
.esqueci a{
	float: left;
	display: block;
    height: 50px;
    max-width: 245px;
    width: calc(50% - 5px);
    color: var(--white);
    font-family: var(--open-sans-font);
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
	position: relative;
	margin-bottom: 30px;
	background-color: #FC0004;
}



/*
a.register-button {
    height: 50px;
    max-width: 245px;
    width: calc(50% - 5px);
    color: var(--white);
    font-family: var(--open-sans-font);
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
}

a.facebook-register {
    background-color: var(--twenty-second-color);
}

a.create-account {
    background-color: var(--ninth-color);
}
*/

div.button-register-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*margin-top: 45px;*/
}
@media screen and (max-width: 400px) {

	.lbot {
		width: 100%;
	}

	.register-button {
		max-width: 100%;
		width: 100%;
	}
	.esqueci a{
		max-width: 100%;
		width: 100%;
	}
	
}
.select {
	float: left;
	width: 100%;
	height: 50px;
	color: #030303;
	font-size: 14px;
    border-radius: 4px;
	margin-bottom: 15px;
	text-indent: 10px;
    background-color: rgba(235,241,245,0.66);
    border: 1px solid #9DB1C1;
    font-family: var(--open-sans-font);
	position: relative;
	overflow: hidden;
}

label.accept-policy-label {
    font-size: 14px;
    font-family: var(--open-sans-font);
    color: var(--third-color);
    margin-top: 30px;
}

label.accept-policy-label a {
    color: var(--third-color);
    font-weight: 700;
    text-decoration: underline;
}

label.register-label {
    color: var(--third-color);
    font-family: var(--open-sans-font);
    margin-bottom: 5px;
}

input.register-input {
    height: 50px;
    border-radius: 4px;
    background-color: rgba(235,241,245,0.66);
    border-color: var(--twenty-third-color);
    font-family: var(--open-sans-font);
    color: var(--fourteenth-color);
}

input.register-input::placeholder {
    color: var(--fourteenth-color);
}

.captc{
	float: left;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	
}

.msgcont {
	float: left;
	width: 450px;
    height: 150px;
    border-radius: 4px;
	position: relative;
/*    background-color: rgba(235,241,245,0.66);*/
    background-color: #F48385;
    border-color: var(--twenty-third-color);
    font-family: var(--open-sans-font);
    color: var(--fourteenth-color);
}


.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: var(--open-sans-font);
    color: var(--sixteenth-color);
}

.radio-container:not(:last-of-type) {
    margin-right: 50px;
}

.radio-active {
    font-weight: 600;
    color: var(--fifteenth-color);
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-container .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: var(--twenty-seventh-color);
    border-radius: 50%;
    border: 2px solid var(--twenty-ninth-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #3A7298;
    transform: translate(-50%, -50%)
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 1px solid var(--twenty-ninth-color);
    background-color: var(--twenty-seventh-color);
}

.checkbox-container .checkmark:after {
    left: 50%;
    top: 50%;
    width: 6px;
    height: 11px;
    border: solid var(--dark);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.professional-input {
    display: none;
}

div#expertise {
    min-height: 68px;
    border-radius: 4px;
    border: 1px solid var(--thirtieth-color);
    background-color: rgba(235, 241, 245, 0.85);
    margin: 45px 0;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    flex-wrap: wrap;
}

div#expertise p {
    color: var(--seventeenth-color);
    font-size: 20px;
    font-family: var(--open-sans-font);
    padding: 17px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span.plus-circle::before {
  width: 12px;
  height: 2px;
}

span.plus-circle::after {
  width: 2px;
  height: 12px;
}

span.plus-circle::after, span.plus-circle::before {
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(235, 241, 245, 0.85);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

span.plus-circle {
    width: 24px;
    height: 24px;
    background-color: var(--eighteenth-color);
    border-radius: 50%;
    position: relative;
}

/*** MODAL ***/

#modal-occupations {
    padding-right: 0;
}

#modal-occupations .modal-dialog {
    max-width: 745px;
}

#modal-occupations .modal-content {
    min-height: 276px;
    padding: 40px 8%;
}

#modal-occupations .modal-header {
    border-bottom: none;
    padding: 0 0 40px 0;
    flex-wrap: wrap;
}

#modal-occupations h5.modal-title {
    width: calc(100% - 32px);
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: var(--open-sans-font);
    color: var(--nineteenth-color);
}

#modal-occupations .modal-body {
    padding: 0 0 20px 0;
    flex: 0 1 auto;
}

#modal-occupations .modal-footer {
    border-top: none;
    padding: 0;
}

div.chip-list {
    display: flex;
    flex-wrap: wrap;
}

input#input_occupations {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--eleventh-color);
}

input#input_occupations::placeholder {
    color: var(--twentieth-color);
    font-family: var(--open-sans-font);
}

button#add-occupation {
    max-width: 175px;
    width: 100%;
    height: 56px;
    background-color: var(--ninth-color);
    color: var(--white);
    font-size: 18px;
    font-family: var(--open-sans-font);
}

.chip {
    background-color: var(--twenty-second-color);
    margin: 4px;
    cursor: pointer;
    color: var(--white);
    border-radius: 20px;
    padding: 4px 6px;
    font-size: 12px;
    position: relative;
}

.chip::after {
    content: "\00d7";
    margin-left: 5px;
}

/* *** */

/* *** */

/* PÁGINA INICIAL */

header#start-header {
    min-height: 65px;
    background-color: var(--twenty-fourth-color);
}

header#start-header .container-fluid {
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

img.logo-start {
    max-width: 147px;
    width: 100%;
}

.how-works-start a{
	float: left;
	display: block;
	cursor: pointer;
	color: #FFFFFF;
	font-weight: 600;
	text-decoration: none;
    /*color: var(--white);*/
    font-family: var(--open-sans-font);
}
.how-works-start a:hover{
	color: #FFFFFF;
	text-decoration: none;
}

form#search-form-start {
    max-width: 691px;
    height: 51px;
    padding: 2px;
    float: right;
}

input#search-professional-start {
    width: calc(100% - 123px);
}

button#search-submit-start {
    width: 123px;
    background-color: var(--twenty-fourth-color);
}

.cnt, nav#side-menu {
	float: left;
    /*height: 1015px;*/
    width: 100%;
    background-color: var(--twenty-fifth-color);
    position: relative;
}

div.profile-container {
    padding: 19px 25px 17px 17px;
    display: flex;
    flex-wrap: wrap;
}

div.filter-container {
    border-top: 1px solid var(--twenty-sixth-color);
    border-bottom: 1px solid var(--twenty-sixth-color);
    height: 46px;
}

div.filter-container a{
	color: #FFFFFF;
	text-decoration: none;
}

/* MODAL DE BUSCA */

div#modal-search .modal-dialog {
	float: left;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	position: relative;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px 0px #404C60;

}

div#modal-search .modal-content {
    min-height: 20px;
}

div#modal-search .modal-header {
    flex-wrap: wrap;
}

ul#occupation-list {
    margin-top: 15px;
    max-height: 150px;
    overflow-y: auto;
    flex-wrap: wrap;
    display: none;
}

div.photo-container {
    width: 58px;
	height: 58px;
	border-radius: 100%;
	background-color: #FFFFFF;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}

div.name-container {
    width: 140px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

img.profile-photo {
    border-radius: 50%;
}

.profile-name {
    color: var(--white);
    font-family: var(--open-sans-font);
    font-size: 16px;
}

.profile-logout a{
    text-decoration: underline;
    color: var(--white);
    font-size: 12px;
    font-family: var(--open-sans-font);
}

.profile-logout a:hover{
    color: var(--white);
}


.filter-button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    font-size: 14px;
    font-family: var(--open-sans-font);
	text-decoration: none;
}
.filter-button a:hover{
    color: var(--white);
	text-decoration: none;
}

.menu-list {
    padding: 29px 10px 0 29px;
}

.menu-item {
    margin-bottom: 25px;
}

.menu-item > a{
    color: var(--white);
    font-size: 14px;
    font-family: var(--open-sans-font);
}

.menu-item > a .fas {
    margin-right: 10px;
}

.menu-item > a > i.fa-home {
    color: var(--home-icon-color);
}

.menu-item > a > i.fa-user {
    color: var(--user-icon-color);
}

.menu-item > a > i.fa-envelope {
    color: var(--envelope-icon-color);
}

.menu-item > a > i.fa-money-check-alt {
    color: var(--budget-icon-color);
}

.menu-item > a > i.fa-star {
    color: var(--favorite-icon-color);
}

.menu-item > a > i.fa-piggy-bank {
    color: var(--tenth-color);
}

#profile-switch {
	float: left;
    width: calc(100% - 40px);
    height: 48px;
    border-radius: 5px;
    background-color: #FB942E;
    display: flex;
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 30px;
    align-items: center;
    position: relative; /*absolute*/
    bottom: 0;
    padding: 0 12px;
}

#profile-switch #switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 11px;
    border-radius: 6px;
    margin-bottom: 0;
}

#profile-switch #switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

#profile-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9B5F23;
    -webkit-transition: .4s;
    transition: .4s;
}

#profile-switch .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0;
    bottom: -3px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

#profile-switch input:checked + .slider {
    background-color: var(--twenty-fifth-color);
}

#profile-switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#profile-switch input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

#profile-switch .slider.round {
    border-radius: 34px;
}

#profile-switch .slider.round:before {
    border-radius: 50%;
}
#profile-switch #switch-label {
    margin-bottom: 0;
    color: #6A3E11;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--open-sans-font);
    margin-left: 5px;
}

/* *** */

/* *** */


/* MEDIA QUERIES */ 

@media screen and (min-width: 1400px) {
    
    footer > div.container-fluid > div:first-of-type {
        -ms-flex: 0 0 17%;
        flex: 0 0 17%;
        max-width: 17%;
    }

    footer > div.container-fluid > div:nth-of-type(2) {
        -ms-flex: 0 0 12%;
        flex: 0 0 12%;
        max-width: 12%;
    }

    footer > div.container-fluid > div:nth-of-type(3) {
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        max-width: 15%;
    }

    footer > div.container-fluid > div:nth-of-type(4) {
        -ms-flex: 0 0 14%;
        flex: 0 0 14%;
        max-width: 14%;
    }

    footer > div.container-fluid > div:nth-of-type(5) {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    footer > div.container-fluid > div:last-of-type {
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
        max-width: 22%;
    }
    
}

@media screen and (min-width: 768px) {
    
    .half-container {
        max-width: 360px;
    }

}

@media screen and (min-width: 992px) {
    
    .half-container {
        max-width: 480px;
    }

}

@media screen and (min-width: 1200px) {
    
    .half-container {
        max-width: 570px;
    }

}

@media screen and (max-width: 1199px) {

    .professional_profile_container, .customer_profile_container {
        margin-top: 20px;
    }

    div.return-container {
        padding: 30px;
    }

    main#register-customer .half-container {
        margin-left: 5%;
        padding-right: 2.5%;
    }

}

@media screen and (max-width: 991px) {
    
    a.anchor-link {
        font-size: 18px;
        margin-right: 3%;
    }

    a.link-logo {
        margin-left: 5%;
    }

    h1#solution {
        margin-top: 40px;
        font-size: 30px;
    }

    form#search-form {
        margin: 20px auto 0 auto;
    }

    h2#benefit {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 110px; /*50*/
    }

    section#how_works > div.container {
        margin: 40px auto;
    }

    h4#how_works_title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    h5#how_works_subtitle {
        margin-bottom: 15px;
        font-size: 18px;
    }

    p#how_works_faq {
        font-size: 16px;
    }

    p#how_works_text {
        margin-top: 45px;
        font-size: 14px;
    }

    span.how_works_item_icon {
        width: 80px;
        height: 80px;
    }

    span.how_works_item_icon > img {
        width: 40px;
        height: auto;
    }

    figcaption.how_works_item_title {
        font-size: 18px;
    }

    p.how_works_item_text {
        font-size: 14px;
    }

    section#how_works > div.container div.row:last-of-type {
        margin-top: 35px;
    }

    h1.profile_title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    h2.profile_subtitle {
        font-size: 20px;
        margin-bottom: 15px;
    }

    p.profile_text {
        font-size: 16px;
        margin-bottom: 20px;
    }

    p#message {
        font-size: 22px;
    }

    .radio-container:not(:last-of-type) {
        margin-right: 30px;
    }

    a.register-button {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }

    form#search-form-start {
        float: none;
        margin: 10px auto;
    }

    header#start-header .container-fluid > div {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 767px) {

    div.container-logo {
        display: flex;
        justify-content: center;
    }

    a.link-logo {
        margin-left: 0;
    }

    div.anchors {
        justify-content: center;
    }

    div.anchors {
        /*margin-top: 15px;*/
    }

    a.anchor-link {
        margin-bottom: 10px;
    }

    p.benefit-text {
        margin-bottom: 15px;
    }

    p.how_works_item_text {
        margin-bottom: 15px;
    }

    .professional_profile_container, .customer_profile_container {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer > div.container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer > div.container-fluid > div {
        padding-left: 0;
        padding-right: 0;
    }

    main#register-customer .half-container {
        margin-left: 0;
        padding-right: 15px;
        padding-left: 15px;
    }

}

@media only screen and (max-width: 575px) {

    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
	
	
	div#mobile_header img {
		width: 130px;
		margin-top: 10px;
	}

    div.container-logo {
        display: flex;
        justify-content: center;
    }

    a.link-logo {
        margin-left: 0;
    }

    a.anchor-link {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    input#search-professional-home {
        width: calc(100% - 60px);
        text-indent: 5px;
        font-size: 16px;
    }
	
	input.search-professional-home {
        width: calc(100% - 60px);
	}

    button#search-submit-home, button#search-submit-start {
        width: 60px;
    }
	
	input.search-professional {
		width: calc(100% - 60px);
	}
    p.benefit-text {
        font-size: 14px;
    }

    h3.benefit-title {
        font-size: 16px;
    }

    h2#benefit {
        font-size: 25px;
        margin-top: 120px; /*30*/
    }

    h1#solution {
        margin-top: 30px;
        font-size: 25px;
    }

    a.contact-shortcut {
        margin: 20px 2% 0 0;
    }

    section#how_works > div.container > div.row > div {
        padding-left: 0;
        padding-right: 0;
    }

    span.how_works_item_icon {
        margin-left: -70px;
    }

    a.register_button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1.footer-title {
        font-size: 14px;
        margin: 10px auto 15px auto;
    }

    a#search-footer {
        float: left;
		text-decoration: none;
    }

    input#search-professional-start {
        width: calc(100% - 60px);
        text-indent: 5px;
        font-size: 14px;
    }

}


@media screen and (max-width: 479px) {

	
	
	
	
	div#modal-search .modal-dialog {
		float: left;
		left: 0;
		width: calc(100% - 40px);
		margin-top: 25px;
		margin-left: 20px;
		margin-right: 20px;
		position: relative;
	}	
	
}