.wrap .spacious-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}

.appearance_page_spacious-options .wrap {
	margin-top: 0;
}
