@charset "utf-8";
@font-face {
    font-family: 'Swis721LtBTLight';
    src: url('Swis/swis721_lt_bt_light-webfont.eot');
    src: url('Swis/swis721_lt_bt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Swis/swis721_lt_bt_light-webfont.woff') format('woff'),
         url('Swis/swis721_lt_bt_light-webfont.ttf') format('truetype'),
         url('Swis/swis721_lt_bt_light-webfont.svg#Swis721LtBTLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'switzerland_condensedplain';
    src: url('swizerland_condensed_plain/swizerland_condensed_plainswitzerland-condensed-plain-1361501880-webfont.eot');
    src: url('swizerland_condensed_plain/swizerland_condensed_plainswitzerland-condensed-plain-1361501880-webfont.eot?#iefix') format('embedded-opentype'),
         url('swizerland_condensed_plain/swizerland_condensed_plainswitzerland-condensed-plain-1361501880-webfont.woff') format('woff'),
         url('swizerland_condensed_plain/swizerland_condensed_plainswitzerland-condensed-plain-1361501880-webfont.ttf') format('truetype'),
         url('swizerland_condensed_plain/swizerland_condensed_plainswitzerland-condensed-plain-1361501880-webfont.svg#switzerland_condensedplain') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Swis721CnBTRoman';
    src: url('swis_cnbt/cnbt-webfont.eot');
    src: url('swis_cnbt/cnbt-webfont.eot?#iefix') format('embedded-opentype'),
         url('swis_cnbt/cnbt-webfont.woff') format('woff'),
         url('swis_cnbt/cnbt-webfont.ttf') format('truetype'),
         url('swis_cnbt/cnbt-webfont.svg#Swis721CnBTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_ce_55_romanregular';
    src: url('helvetica_neue_roman/helvetica_neue_ce_55_roman-webfont.eot');
    src: url('helvetica_neue_roman/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica_neue_roman/helvetica_neue_ce_55_roman-webfont.woff') format('woff'),
         url('helvetica_neue_roman/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype'),
         url('helvetica_neue_roman/helvetica_neue_ce_55_roman-webfont.svg#helvetica_ce_55_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light/raleway-light-webfont.eot');
    src: url('raleway-light/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-light/raleway-light-webfont.woff') format('woff'),
         url('raleway-light/raleway-light-webfont.ttf') format('truetype'),
         url('raleway-light/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular/raleway-regular-webfont.eot');
    src: url('raleway-regular/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular/raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular/raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_Walkway_Bold';
	src: url('walkway_bold/Walkway_Bold.eot');
	src: local('☺'),
		 url('walkway_bold/Walkway_Bold.woff') format('woff'),
		 url('walkway_bold/Walkway_Bold.ttf') format('truetype'),
		 url('walkway_bold/Walkway_Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
