.side-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: block;

        a {
            color: $sidebar-font-color;
            display: block;
            font-size: 14px;
            padding: 12px 12px 12px 30px;
            position: relative;
            text-decoration: none;
        }

        &.active > a {
            color: $sidemenu-item-font-color--active;
        }

        &.has-child > a::before {
            border-color: $sidemenu-arrow-color transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0;
            content: '';
            display: block;
            height: 0;
            margin-top: -2px;
            position: absolute;
            right: 21px;
            top: 50%;
            transform: rotate(-90deg);
            transition: all .2s ease-in-out;
            width: 0;
        }

        &.has-child.open > a::before {
            transform: rotate(0deg);
        }

        //&.has-child.open .sub-menu{
        //  display: block;
        //}

        a:hover {
            background-color: $sidemenu-item-bg-color--hover;
            color: $sidemenu-item-font-color--hover;
        }

        i {
            width: 30px;
        }
    }

    ul {
        background-color: $sidemenu-submenu-bg;
        padding: 0;
    }

    // Sub Menu
    //----------------------------------

    ul.submenu{
        background: #464646;

        li.has-child > a::before {
            border-color: $sidemenu-arrow-color transparent transparent;
            content: '\f067';
            position: absolute;
            right: 21px;
            top: 50%;
            transform: rotate(-90deg);
            transition: all .2s ease-in-out;
            width: 0;
        }
    }

}


// metis overrides

.metismenu .icon-fa.arrow:before {
    content: "\f104";
}

.metismenu .active > a > .icon-fa.arrow:before {
    content: "\f107";
}



