/*---------------------------------------------------------------------------------------------------------------------------------------------
 NAV
----------------------------------------------------------------------------------------------------------------------------------------------*/

nav .menu{ float:left; font-family: 'open_sansregular', sans-serif; font-size:14px; font-weight:700; color:#FFFFFF; background-color: none;}

nav .slicknav_menu {display:none}
nav .menu ul, li, a{display: block; }
nav .menu ul{background:#9FC3EE;}
nav .menu ul li{float: left; width: 100%; padding:0 27px 0 27px; font-size:14px;}
nav .menu ul li:hover a{color:#9FC3EE; -webkit-transition:background 0.5s ease-out; -moz-transition:background 0.5s ease-out; -o-transition:background 0.5s ease-out; -ms-transition:background 0.5s ease-out;}
nav .menu ul li a{cursor: pointer; text-decoration: none;  color:#FFFFFF; padding: 10px 0;}
nav .menu ul li a:hover{color:#9FC3EE;}



/* Sub */

nav .menu li ul{display: none;  position: absolute; z-index:999999; margin:0px; padding:0px; }
nav .menu li ul:before{width: 0; height: 0; border: 14px solid transparent; border-bottom-color: #0B223D; content: ""; top:-13px; left: 20px; position: absolute;}
nav .menu li:hover ul{display:block; width:250px; -webkit-animation:animacao 0.5s ease; -moz-animation:animacao 0.5s ease; -ms-animation:animacao 0.5s ease; -o-animation:animacao 0.5s ease; animation:animacao 0.5s ease; padding: 15px 0 0 0;} 
nav .menu li ul li{float:none; padding:0; margin:0px; }
nav .menu li ul li a{ padding:15px 10px 15px 10px; background: #0B223D !important; color:#fff !important; -webkit-transition:background 0.5s ease-out; -moz-transition:background 0.5s ease-out; -o-transition:background 0.5s ease-out; -ms-transition:background 0.5s ease-out; border:none !important; }
nav .menu li ul li a:hover{ background:#f2f2f2 !important; color:#000 !important; }

/* Sub da Sub */

nav .menu li ul.sub{display: none; background: #fff; color:#000; position: absolute; z-index:999999; margin:0px; padding:0px; border-left:1px solid #333;}
nav .menu li li:hover ul.sub{display:block; width:250px; margin: -49px 0 0 250px; -webkit-animation: animacao none; -moz-animation: animacao none; -o-animation: animacao none; -ms-animation: animacao none; } 
nav .menu li ul.sub:before{display: none;}

@-webkit-keyframes animacao{
	from{ opacity:0; margin: -15px 0px 0px 0;}
	to{opacity:1; margin:0px 0px 0px 0px;}
}

@-moz-keyframes animacao{
	from{ opacity:0; margin:-15px 0px 0px 0px;}
	to{opacity:1; margin:0px 0px 0px 0px;}
}

@-o-keyframes animacao{
	from{ opacity:0; margin:-15px 0px 0px 0px;}
	to{opacity:1; margin:0px 0px 0px 0px;}
}

/*---------------------------------------------------------------------------------------------------------------------------------------------
 ICON NAV
----------------------------------------------------------------------------------------------------------------------------------------------*/
.menu ul li > a{
    color: var(--white);
    font-size: 14px;
    font-family: var(--open-sans-font);
}

.menu ul li > a .fas {
    margin-right: 10px;
}

.menu ul li > a > i.fa-home {
    color: var(--home-icon-color);
}

.menu ul li > a > i.fa-user {
    color: var(--user-icon-color);
}

.menu ul li > a > i.fa-envelope {
    color: var(--envelope-icon-color);
}

.menu ul li > a > i.fa-money-check-alt {
    color: var(--budget-icon-color);
}

.menu ul li > a > i.fa-star {
    color: var(--favorite-icon-color);
}

.menu ul li > a > i.fa-piggy-bank {
    color: var(--tenth-color);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------
 RESPONSIVE NAV
----------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:768px){

	.menu {display:none;}

	.slicknav_menu {background:#0D2A4D; font-family: 'open_sansregular', sans-serif; color:#FFFFFF; font-size:16px; margin:0px; padding:0px;}
	.slicknav_menu .slicknav_menutxt { display: block; float: none; }
	.slicknav_menu .slicknav_icon { float: left;}
	.slicknav_menu .slicknav_icon-bar { display: block; width:30px; height: 3px;}
	.slicknav_btn .slicknav_icon-bar, .slicknav_icon-bar { margin:4px 0 0 0; }
	.slicknav_nav { clear: both }
	.slicknav_nav ul, .slicknav_nav li { display: block; }
	.slicknav_nav .slicknav_arrow { position:relative;  float:right; right:50px; font-size:16px; color:#999999; }
	.slicknav_nav .slicknav_item { cursor: pointer; }
	.slicknav_nav .slicknav_row { display: block;  }
	.slicknav_nav a { display: block; }
	.slicknav_nav .slicknav_item a,
	.slicknav_nav .slicknav_parent-link a { display: inline;  }
	.slicknav_menu:before,
	.slicknav_menu:after { content: ""; display: table; }
	.slicknav_menu:after { clear: both }
	.slicknav_menu { *zoom: 1 }

	/* BOTAO */

	.slicknav_btn {display:block; position:absolute; top:7px; right:10px; padding:5px;  z-index:8;vertical-align: middle;float: right;cursor: pointer; text-decoration:none;}
	.slicknav_menu .slicknav_icon-bar {background: #FFFFFF; }
	.slicknav_menu .slicknav_menutxt {color: #000; margin:0 20px 0 0; float:left; }

	/* POR DENTRO DO MENU */

	.slicknav_nav {margin:70px 0 30px 0;}	
	.slicknav_nav ul {list-style: none; overflow:hidden; background-color: none; padding:0; margin:0; }
	.slicknav_nav ul li{ border-top:1px solid #1B4A82; -webkit-animation:animacao 0.5s ease; -moz-animation:animacao 0.5s ease; -ms-animation:animacao 0.5s ease; -o-animation:animacao 0.5s ease; animation:animacao 0.5s ease;  }
	.slicknav_nav ul li a{padding:10px 0 10px 30px; text-decoration:none; color:#FFFFFF;}
	.slicknav_nav ul li a:hover{ background:#f2f2f2; color:#333;}
	.slicknav_nav ul li a:active{ background:#f2f2f2; color:#333;}

	.slicknav_nav ul ul{ margin:0 0 20px 20px; }
	.slicknav_nav ul ul li{ margin:0 0 0 20px; position:relative; border:none; }
	.slicknav_nav ul ul li:before{width: 0; height: auto; border: 6px solid transparent; border-left-color:#999; content: "";  position: absolute; left:13px; top:15px;}

	.slicknav_nav .slicknav_item a{padding:0; margin:0;}
	.slicknav_nav .slicknav_row ul{ margin:0;}

	/* SOCIAL ICONS DO MENU */

	.slicknav_nav .socialmedia ul{float:right; margin:20px 20px 0 0; background:#fff;}
	.slicknav_nav .socialmedia ul li{ float:left; width:40px; height:40px; margin:0 5px 0 5px;  font-size: 21px; text-align: center; }
	.slicknav_nav .socialmedia ul li a{ padding:10px 0 20px 0; color: #000;}
	.slicknav_nav .socialmedia ul li a:hover{color:#999; background: none;}
	.slicknav_nav .socialmedia ul li:before{ display:none;}

	@-webkit-keyframes animacao{
		from{opacity:0; margin: 0px 0 0 -100%;}
		to{opacity:1; margin:0px 0px 0px 0px;}
	}

	@-moz-keyframes animacao{
		from{opacity:0; margin:0px 0px 0px -100%;}
		to{opacity:1; margin:0px 0px 0px 0px;}
	}

	@-o-keyframes animacao{
		from{opacity:0; margin:0px 0px 0px -100%;}
		to{opacity:1; margin:0px 0px 0px 0px;}
	}

	@-ms-keyframes animacao{
		from{opacity:0; margin:0px 0px 0px -100%;}
		to{opacity:1; margin:0px 0px 0px 0px;}
	}
	
/*---------------------------------------------------------------------------------------------------------------------------------------------
 ICON NAV MOBILE
----------------------------------------------------------------------------------------------------------------------------------------------*/
.slicknav_menu ul li > a{
    color: var(--white);
    font-size: 14px;
    font-family: var(--open-sans-font);
}

.slicknav_menu ul li > a .fas {
    margin-right: 10px;
}

.slicknav_menu ul li > a > i.fa-home {
    color: var(--home-icon-color);
}

.slicknav_menu ul li > a > i.fa-user {
    color: var(--user-icon-color);
}

.slicknav_menu ul li > a > i.fa-envelope {
    color: var(--envelope-icon-color);
}

.slicknav_menu ul li > a > i.fa-money-check-alt {
    color: var(--budget-icon-color);
}

.slicknav_menu ul li > a > i.fa-star {
    color: var(--favorite-icon-color);
}

.slicknav_menu ul li > a > i.fa-piggy-bank {
    color: var(--tenth-color);
}	
	
}
