div#content ul#itemContainer { list-style: none; padding:0; margin: 20px 0;  }
div#content ul#itemContainer li { display: inline-block; margin: 5px; zoom: 1; *display:inline; }
div#content ul#itemContainer ll li img { vertical-align: bottom; width: 125px; height: 125px; }




.holder {
	float: left;
	width: 900px;
	margin-top: 20px;
	margin-left: 30px;
	position: relative;
}

.holder a {
	float: left;
	display: block;
	width: 14px;
	line-height: 20px;
	cursor: pointer;
	color: #2C2C2C;
	font-size: 13px;
	text-align: center;
	margin-right: 5px;
	text-decoration: none;
	background: #B0B8B4;
	position: relative;
	border: 1px solid #A2A2A2;
	font-family: Arial, Helvetica, sans-serif;
}
.holder a:hover {
	color: #F2F3F5;
	background: #4F5753;
	border: 1px solid #A2A2A2;
	text-decoration: underline;
}
.holder a.jp-current, a.jp-current:hover { 
	color: #F2F3F5;
	background: #4F5753;
	border: 1px solid #A2A2A2;
	text-decoration: underline;
}



.holder a.jp-previous {
	width: 16px;
	height: 22px; 
	border: none;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/prev1.jpg);
}
.holder a.jp-previous:hover{
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/prev2.jpg);
}
.holder a.jp-next {
	width: 16px;
	height: 22px; 
	border: none;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/next1.jpg);
}
.holder a.jp-next:hover{
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/next2.jpg);
}
.holder span { margin: 0 5px; }